// Copyright 2015 Hippo B.V. (http://www.onehippo.com)
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//  http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.

.hi {
  fill: $text-color;
  display: inline-block;
  vertical-align: text-bottom;
  width: 0;
  height: 0;
}

.hi-s {
  height: 10px;
  width: 10px;
}

.hi-m {
  height: 16px;
  width: 16px;
}

.hi-l {
  height: 32px;
  width: 32px;
}

.hi-xl {
  height: 48px;
  width: 48px;
}

.hi-color-primary {
  color: $primary !important;
}

.hi-color-info {
  color: $info !important;
}

.hi-color-success {
  color: $success !important;
}

.hi-color-warning {
  color: $warning !important;
}

.hi-color-danger {
  color: $danger !important;
}

.hi-color-white {
  color: $white !important;
}

.hi-color-black {
  color: $black !important;
}

.hi-fill-primary {
  fill: $primary !important;
}

.hi-fill-info {
  fill: $info !important;
}

.hi-fill-success {
  fill: $success !important;
}

.hi-fill-warning {
  fill: $warning !important;
}

.hi-fill-danger {
  fill: $danger !important;
}

.hi-fill-white {
  fill: $white !important;
}

.hi-fill-black {
  fill: $black !important;
}

.loading-icon {
  display: inline-block;
  height: 16px;
  width: 16px;
  background: url('../images/loader.gif') no-repeat center center transparent;
}

.hi-stack {
  position: relative;
  display: inline-block;
  > .hi {
    vertical-align: baseline;
  }
  > .hi:not(:first-child) {
    position: absolute;
  }
}

.hi-top {
  top: 0;
}

.hi-vcenter {
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
}

.hi-bottom {
  bottom: 0;
}

.hi-left {
  left: 0;
}

.hi-hcenter {
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.hi-right {
  right: 0;
}

.hi-vtop {
  vertical-align: top;
}
.hi-vmiddle {
  vertical-align: middle;
}
.hi-vbottom {
  vertical-align: bottom;
}

.hi-spinner {
  -webkit-animation: hi-spin 1s infinite steps(8);
  animation: hi-spin 1s infinite steps(8);
}

@keyframes hi-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

// Set some defaults for frequently used styles for these icons
.hi-check-circle {
  color: $white;
  fill: $success;
}

.hi-minus-circle,
.hi-times-circle {
  color: $white;
  fill: $danger;
}

.hi-exclamation-triangle {
  color: $black;
  fill: $warning;
}

/**see https://issues.onehippo.com/browse/CHANNELMGR-159 for why ie11 freezes*/
svg use {
  pointer-events: none;
}

.text-muted svg {
  fill: $text-muted;
}
