// Copyright 2014-2015 Hippo B.V. (http://www.onehippo.com)
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//  http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.

.carousel-indicators li img {
  display: none;
}

.carousel-inner > .item > img {
  width: 100%;
}

.carousel img {
  border: 1px solid $gray-dark;
}

.carousel-control {
  &.left {
    @include gradient-horizontal($start-color: rgba(0,0,0,.3), $end-color: rgba(0,0,0,.0001));
  }
  &.right {
    @include gradient-horizontal($start-color: rgba(0,0,0,.0001), $end-color: rgba(0,0,0,.3));
  }
}

@media (min-width: $screen-xs-min) {
  .carousel {
    padding-bottom: 100px;
  }

  .carousel-control {
    margin-bottom: 100px;
    cursor: pointer;
  }

  .carousel-indicators {
    height: 100px;
    padding: 10px;
    width: 100%;
    margin: 0;
    left: 0;
    bottom: 0;
  }

  .carousel-indicators li,
  .carousel-indicators .active {
    height: auto;
    width: 18%;
    max-height: 100%;
    text-indent: 0;
    border: none;
    margin: 0 1%;

    img {
      display: block;
      max-width: 100%;
      max-height: 100%;
    }
  }
}
