// Copyright 2014-2015 Hippo B.V. (http://www.onehippo.com)
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//  http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.

// Pretty printing styles. Used with prettify.js.

// SPAN elements with the classes below are added by prettyprint.
.pln {
  color: #000000
}

// plain text

@media screen {
  .str {
    color: #008800
  }

  // string content
  .kwd {
    color: #000088
  }

  // a keyword
  .com {
    color: #880000
  }

  // a comment
  .typ {
    color: #660066
  }

  // a type name
  .lit {
    color: #006666
  }

  // a literal value
  // punctuation, lisp open bracket, lisp close bracket
  .pun, .opn, .clo {
    color: #666600
  }

  .tag {
    color: #000088
  }

  // a markup tag name
  .atn {
    color: #660066
  }

  // a markup attribute name
  .atv {
    color: #008800
  }

  // a markup attribute value
  .dec, .var {
    color: #660066
  }

  // a declaration; a variable name
  .fun {
    color: red
  }
}

// Use higher contrast and text-weight for printable form.
@media print, projection {
  .str {
    color: #006600
  }

  .kwd {
    color: #000066;
    font-weight: bold
  }

  .com {
    color: #660000;
    font-style: italic
  }

  .typ {
    color: #440044;
    font-weight: bold
  }

  .lit {
    color: #004444
  }

  .pun, .opn, .clo {
    color: #444400
  }

  .tag {
    color: #000066;
    font-weight: bold
  }

  .atn {
    color: #440044
  }

  .atv {
    color: #006600
  }
}

// Put a border around prettyprinted code snippets.
.prettyprint {
  padding: 2px;
  border: 1px solid #888888
}

// Specify class=linenums on a pre to get line numbering
.linenums {
  margin-top: 0;
  margin-bottom: 0
}

// IE indents via margin-left
.L0,
.L1,
.L2,
.L3,
.L5,
.L6,
.L7,
.L8 {
  list-style-type: none
}

.linenums {
  color: $gray;
}

.linenums li {
  white-space: nowrap;
  list-style-type: decimal;
}

pre {
  border-color: $gray-light;
  width: auto;
  overflow: auto;
}

.pre-scrollable {
  border-radius: 0;
  overflow-y: auto;
}
