// Copyright 2014-2015 Hippo B.V. (http://www.onehippo.com)
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//  http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.

.chosen-container {
  .search-choice-close {
    cursor: pointer;
  }

  .chosen-results {
    color: $gray-dark;
  }
}

.chosen-container-single {
  .chosen-single {
    background-image: none;
    color: $gray-dark;
  }

  .chosen-default {
    color: $gray-light;
  }
}

.chosen-container-single,
.chosen-container-active.chosen-with-drop {
  .chosen-single {
    background-color: $white;
  }
}

.chosen-single,
.chosen-choices {
  .has-success & {
    border-color: $state-success-text;
  }

  .has-error & {
    border-color: $state-danger-text;
  }

  .has-warning & {
    border-color: $state-warning-text;
  }
}

.chosen-container-active {
  &.chosen-with-drop .chosen-single,
  .chosen-choices,
  .chosen-single {
    // Feedback states with correct box shadow.
    .has-success & {
      border-color: darken($success, 10%);
      @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px lighten($success, 20%));
    }

    .has-warning & {
      border-color: darken($warning, 10%);
      @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px lighten($warning, 20%));
    }

    .has-error & {
      border-color: darken($danger, 10%);
      @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px lighten($danger, 20%));
    }
  }
}
