// Copyright 2014-2015 Hippo B.V. (http://www.onehippo.com)
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//  http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.

[class *= "flex-"],
.flex-child,
.solid-child {
  overflow-x: auto;
  overflow-y: auto;
  margin: 0;
}

.flex-column {
  display: flex;
  flex-flow: column nowrap;
  overflow: hidden;
}

.flex-row {
  display: flex;
  flex-flow: row nowrap;
  overflow: hidden;
}

.flex-space-between {
  justify-content: space-between;
}

.flex-center {
  flex: 0 0 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.solid-child {
  flex: 0 0 auto;
}

.flex-child {
  flex: 1 1 auto;
}

.flex-full {
  flex: 0 0 100%;
}

@include flexgrid($gridCols);
