// Copyright 2014-2015 Hippo B.V. (http://www.onehippo.com)
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//  http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.

// Hides the clear pseudo element in input fields for IE >= 10
input::-ms-clear {
  width: 0;
  height: 0;
}

// Hides the reveal pseudo element in input fields for IE >= 10
input::-ms-reveal {
  width: 0;
  height: 0;
}

.form-control-feedback .hi {
  position: relative;
  top: 1px;
}

.has-feedback label ~ .form-control-feedback {
  right: 12px;
}

// Adjust vertical align of checkbox and radio buttons.
// Bootstrap counts on a font-size-base of 14px and line-height-base of 1.4...
// Hippo has font-size-base of 13px and line-height-base of 1.24.
input[type="radio"],
input[type="checkbox"] {
  margin-top: 2px;
}

.has-success .input-group-addon {
  color: $input-group-addon-success;
}

.has-warning .input-group-addon {
  color: $input-group-addon-warning;
}

.has-error .input-group-addon {
  color: $input-group-addon-danger;
}
