// Copyright 2014-2015 Hippo B.V. (http://www.onehippo.com)
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//  http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.

.hippo-navbar + .main-content {
  margin-top: $hippo-navbar-height;
}

.hippo-navbar {
  margin-bottom: 0;
  border-bottom: 0;

  .navbar-title {
    font-size: $hippo-navbar-title-font-size;
    line-height: 1;
    position: absolute;
    left: 50%;
    padding: 0;
    margin: 16px 0;
  }

  .navbar-title-text {
    white-space: nowrap;
    margin-left: -50%;
  }

  .navbar-brand {
    font-size: $hippo-navbar-brand-font-size;
    line-height: 1;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .navbar-toggle {
    float: left;
    margin-left: 8px;
  }

  .hippo-navbar-icons {
    float: right;
    margin: 17px 0;

    .navbar-link {
      display: inline-block;
      height: 16px;
      line-height: 16px;
      margin: 0 0 0 8px;
    }

    span {
      display: inline-block;
    }
  }

  .notification-badge {
    position: absolute;
    left: 45px;
    top: 5px;
  }

  .navbar-nav > li > a,
  .navbar-nav > li > a:hover {
    color: $white;
    border-left: 3px solid $side-navbar-bg;
    padding-left: 13px;

    .fa {
      color: $white;
    }
  }

  .navbar-nav > li > a {
    color: $lightest-shade;

    .fa {
      color: $lightest-shade;
    }
  }

  .navbar-nav > .active > a,
  .navbar-nav > .active > a:hover {
    background: $side-navbar-active-bg;
    border-left: 3px solid $primary;
  }
}

@media (max-width: $screen-xs-max) {
  .navbar-brand {
    display: none;
  }
}

@media (min-width: $screen-sm-min) {
  .hippo-navbar-with-sidenav + .main-content {
    margin-left: $side-navbar-width;
  }

  .hippo-navbar-with-sidenav .navbar-header {
    width: 100%;
  }

  .hippo-navbar .hippo-sidenav {
    position: fixed;
    top: $hippo-navbar-height;
    left: 0;
    height: 100% !important; // Override !important bootstrap style
    max-height: none;
    width: $side-navbar-width;
    padding: 0;
    background: $side-navbar-bg;
    border-right: 1px solid $navbar-default-border;

    overflow: auto !important;
    padding-bottom: $hippo-navbar-height;

    ul, li {
      float: none;
    }
  }

  .hippo-navbar .notification-badge {
    display: none;
  }
}
