// Copyright 2014-2015 Hippo B.V. (http://www.onehippo.com)
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//  http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.

.log-top {
  display: none;
  z-index: 1031;
  position: absolute;
  width: 100%;
  max-height: 33%;
  overflow: auto;

  &:hover {
    cursor: pointer;
  }

  .alert-open p {
    margin: 0 0 10px;
  }

  .alert {
    margin-bottom: 0;
    border-width: 0 0 1px 0;
    border-radius: 0;

    .close {
      position: fixed;
      top: 15px;
      right: 15px;
    }

    > p {
      margin-bottom: 5px;
    }
  }
}

.log-messages {
  padding-top: 5px;
  padding-left: 18px;
}

.log-messages p:last-child {
  margin-bottom: 0;
}

.log-visible {
  display: block;
}

.log-visible + .hippo-navbar {
  top: $log-alert-height;

  & + .container-fluid {
    top: $hippo-navbar-height + $log-alert-height;
  }

  @media (min-width: $screen-sm-min) {
    .navbar-collapse {
      top: $log-alert-height + $hippo-navbar-height;
      border-right: 1px solid $navbar-default-border;
    }
  }
}

@media (min-width: $screen-sm-min) {
  .log-top .alert-open .close {
    right: 25px;
  }

  .log-visible ~ .main-content {
    margin-top: $log-alert-height + $hippo-navbar-height;
  }
}
