// Copyright 2014-2015 Hippo B.V. (http://www.onehippo.com)
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//  http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.

// Responsive utilities
// -------------------------
// Add custom display property to hidden elements
@mixin responsive-visibility-custom($display: inline) {
  display: $display !important;
}

@mixin flex-hidden($breakpoint) {
  .flex-#{$breakpoint}-hidden {
    display: none;
  }
}

@mixin flex-reset-display() {
  display: block;

  &.flex-row,
  &.flex-column {
    display: flex;
  }
}

@mixin loopColumns($maxCols, $breakpoint) {
  @for $i from 1 through $maxCols {
    $dimension: (100% / $maxCols) * $i;

    .flex-#{$breakpoint}-#{$i} {
      flex: 0 0 $dimension;
    }

    .flex-#{$breakpoint}-offset-#{$i} {
      margin-left: $dimension;
    }
  }
}

@mixin generate-flexgrid($maxCols, $breakpoint) {
  [class *= "flex-#{$breakpoint}-"] {
    @include flex-reset-display();
  }

  @include loopColumns($maxCols, $breakpoint);
  @include flex-hidden($breakpoint);
}

@mixin flexgrid($maxCols) {
  $breakpoints: (
    xs: 0,
    sm: $screen-sm-min,
    md: $screen-md-min,
    lg: $screen-lg-min
  );

  @each $breakpoint, $width in $breakpoints {
    @media (min-width: $width) {
      @include generate-flexgrid($maxCols, $breakpoint);
    }
  }
}
