// Copyright 2015 Hippo B.V. (http://www.onehippo.com)
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//  http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.

th.tablesort-sortable {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: pointer;
}

table .tablesort-sortable:after {
  content: "";
  float: right;
  margin-top: 7px;
  visibility: hidden;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;

  border-top: none;
  border-bottom: 4px solid $black;
}

table .tablesort-desc:after {
  border-top: 4px solid $black;
  border-bottom: none;
}

table .tablesort-asc, table .tablesort-desc {
  background-color: $darker-shade;
}

table .tablesort-sortable:hover:after, table .tablesort-asc:after, table .tablesort-desc:after {
  visibility: visible;
}

/*
 * Styling for the table row shown in empty tables
 */

/* The row is always added as the first row in a table
   Hide it by default */
.showIfLast {
  display: none;
}

/* Only show it if it is also the last row of the table. */
.showIfLast:last-child {
  display: table-row;
}

.showIfLast td {
  text-align: center;
}

.showIfLast td:after {
  content: "No data";
}
