// Copyright 2014-2015 Hippo B.V. (http://www.onehippo.com)
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//  http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.


// Hippo Variables
// -------------------------

// Hippo Grays
$black:                                       #000000;
$darkest-shade:                               #22272f;
$darker-shade:                                #39434c;
$dark-shade:                                  #9ba0a5;
$dark-gray:                                   #b8bcbf;
$light-gray:                                  #d4d6d8;
$light-shade:                                 #e8e8ea;
$lighter-shade:                               #ebeced;
$lightest-shade:                              #f7f7f7;
$white:                                       #ffffff;

// Hippo Colors
$primary:                                     #0877d1;
$success:                                     #3dcc3d;
$info:                                        #40a6ff;
$warning:                                     #ffa733;
$danger:                                      #ff4040;

$primary-light:                               #d2e6f7;
$success-light:                               #e2fed9;
$info-light:                                  #d9edff;
$warning-light:                               #fffada;
$danger-light:                                #ffd9d9;

$primary-shaded:                              #006ecc;
$success-shaded:                              #b6ccae;
$info-shaded:                                 #aebecc;
$warning-shaded:                              #ccc8ae;
$danger-shaded:                               #ccaeae;
// Overridden Bootstrap Variables
// -------------------------

// Bootstrap Grays
$gray-darker:                                 $darkest-shade;
$gray-dark:                                   $darker-shade;
$gray:                                        $dark-shade;
$gray-light:                                  $light-gray;
$gray-lighter:                                $lighter-shade;

// Bootstrap Colors
$brand-primary:                               $primary;
$brand-success:                               $success;
$brand-info:                                  $info;
$brand-warning:                               $warning;
$brand-danger:                                $danger;

$body-bg:                                     $white;
$text-color:                                  $darkest-shade;
$link-color:                                  $primary;
$link-hover-color:                            $darker-shade;
$link-hover-decoration:                       none;


// Typography
$font-family-sans-serif:                      "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-monospace:                       Menlo, Monaco, Consolas, "Courier New", monospace;
$font-family-base:                            "Open Sans", $font-family-sans-serif;
/* No need for a serif font in the CMS UI */
$font-family-serif:                           $font-family-base;

$font-size-base:                              13px;
$font-size-large:                             ceil(($font-size-base * 1.10)); // ~15px
$font-size-small:                             ceil(($font-size-base * 0.85)); // ~12px
$font-size-tiny:                              ceil(($font-size-base * 0.75)); // ~10px

$font-size-h1:                                floor(($font-size-base * 2.6)); // ~33px
$font-size-h2:                                floor(($font-size-base * 2.15)); // ~27px
$font-size-h3:                                ceil(($font-size-base * 1.7)); // ~23px
$font-size-h4:                                ceil(($font-size-base * 1.25)); // ~17px
$font-size-h5:                                $font-size-base;
$font-size-h6:                                ceil(($font-size-base * 0.85)); // ~12px

$line-height-base:                            1.24;
$line-height-computed:                        floor($font-size-base * $line-height-base); // ~16px

$headings-font-family:                        inherit;
$headings-font-weight:                        500;
$headings-line-height:                        $line-height-base;
$headings-color:                              inherit;

$icon-font-path:                              '../fonts/';

//== Components
//
//## Define common padding and border radius sizes and more. Values based on 14px text and 1.428 line-height (~20px to start).
$padding-base-vertical:                       8px;
$padding-base-horizontal:                     12px;

$padding-large-vertical:                      12px;
$padding-large-horizontal:                    16px;

$padding-small-vertical:                      4px;
$padding-small-horizontal:                    8px;

$padding-xs-vertical:                         1px;
$padding-xs-horizontal:                       4px;

$line-height-large:                           1.33;
$line-height-small:                           1.5;

$border-radius-base:                          0;
$border-radius-large:                         0;
$border-radius-small:                         0;
// Allows for customizing button radius independently from global border radius
$btn-border-radius-base:                      5px;
$btn-border-radius-small:                     2px;

//** Global color for active items (e.g., navs or dropdowns).
$component-active-color:                      $white;
//** Global background color for active items (e.g., navs or dropdowns).
$component-active-bg:                         $primary;

//** Width of the `border` for generating carets that indicator dropdowns.
$caret-width-base:                            4px;
//** Carets increase slightly in size for larger components.
$caret-width-large:                           5px;


//== Tables
//
//## Customizes the `.table` component with basic values, each used across all table variations.

//** Padding for `<th>`s and `<td>`s.
$table-cell-padding:                          8px;
//** Padding for cells in `.table-condensed`.
$table-condensed-cell-padding:                4px;

//** Default background color used for all tables.
$table-bg:                                    transparent;
//** Background color used for `.table-striped`.
$table-bg-accent:                             $lightest-shade;
//** Background color used for `.table-hover`.
$table-bg-hover:                              $lighter-shade;
$table-bg-active:                             $table-bg-hover;

//** Border color for table and cell borders.
$table-border-color:                          $light-gray;


//== Buttons
//
//## For each of Bootstrap's buttons, define text, background and border color.

$btn-font-weight:                             normal;

$btn-default-color:                           $text-color;
$btn-default-bg:                              $white;
$btn-default-border:                          $light-gray;

$btn-primary-color:                           $white;
$btn-primary-bg:                              $primary;
$btn-primary-border:                          darken($btn-primary-bg, 5%);

$btn-success-color:                           $white;
$btn-success-bg:                              $success;
$btn-success-border:                          darken($btn-success-bg, 5%);

$btn-info-color:                              $white;
$btn-info-bg:                                 $brand-info;
$btn-info-border:                             darken($btn-info-bg, 5%);

$btn-warning-color:                           $white;
$btn-warning-bg:                              $warning;
$btn-warning-border:                          darken($btn-warning-bg, 5%);

$btn-danger-color:                            $white;
$btn-danger-bg:                               $danger;
$btn-danger-border:                           darken($btn-danger-bg, 5%);

// Does not appear to be used.
$btn-link-disabled-color:                     $dark-gray;


//== Forms
//
//##

//** `<input>` background color
$input-bg:                                    $white;
//** `<input disabled>` background color
$input-bg-disabled:                           $lighter-shade;

//** Text color for `<input>`s
$input-color:                                 $text-color;
//** `<input>` border color
$input-border:                                $light-gray;

// TODO:                                      Rename `$input-border-radius` to `$input-border-radius-base` in v4
//** Default `.form-control` border radius
$input-border-radius:                         $border-radius-base;
//** Large `.form-control` border radius
$input-border-radius-large:                   $border-radius-large;
//** Small `.form-control` border radius
$input-border-radius-small:                   $border-radius-small;

//** Border color for inputs on focus
$input-border-focus:                          $primary;

//** Placeholder text color
$input-color-placeholder:                     $dark-gray;

//** Default `.form-control` height
$input-height-base:                           ($line-height-computed + ($padding-base-vertical * 2) + 2);
//** Large `.form-control` height
$input-height-large:                          (ceil($font-size-large * $line-height-large) + ($padding-large-vertical * 2) + 2);
//** Small `.form-control` height
$input-height-small:                          (floor($font-size-small * $line-height-small) + ($padding-small-vertical * 2) + 2);

$legend-color:                                $darker-shade;
$legend-border-color:                         $light-shade;

//** Background color for textual input addons
$input-group-addon-bg:                        $btn-default-bg;
//** Border color for textual input addons
$input-group-addon-border-color:              $input-border;

//** Disabled cursor for form controls and buttons.
$cursor-disabled:                             not-allowed;


//== Dropdowns
//
//## Dropdown menu container and contents.

//** Background for the dropdown menu.
$dropdown-bg:                                 $white;
//** Dropdown menu `border-color`.
$dropdown-border:                             $dark-gray;
//** Dropdown menu `border-color` **for IE8**.
$dropdown-fallback-border:                    $dropdown-border;
//** Divider color for between dropdown items.
$dropdown-divider-bg:                         $light-shade;

//** Dropdown link text color.
$dropdown-link-color:                         $darker-shade;
//** Hover color for dropdown links.
$dropdown-link-hover-color:                   $white;
//** Hover background for dropdown links.
$dropdown-link-hover-bg:                      $darker-shade;

//** Active dropdown menu item text color.
$dropdown-link-active-color:                  $component-active-color;
//** Active dropdown menu item background color.
$dropdown-link-active-bg:                     $component-active-bg;

//** Disabled dropdown menu item background color.
$dropdown-link-disabled-color:                $light-gray;

//** Text color for headers within dropdown menus.
$dropdown-header-color:                       $light-gray;

//** Deprecated `$dropdown-caret-color` as of v3.1.0
$dropdown-caret-color:                        $black;

//== Grid system
$grid-gutter-width:                           2 * 16px;

//== Navbar
//
//##

// Basics of a navbar
$navbar-height:                               50px;
$navbar-margin-bottom:                        $line-height-computed;
$navbar-border-radius:                        $border-radius-base;
$navbar-padding-horizontal:                   floor(($grid-gutter-width / 2));
$navbar-padding-vertical:                     (($navbar-height - $line-height-computed) / 2);
$navbar-collapse-max-height:                  340px;

$navbar-default-color:                        $text-color;
$navbar-default-bg:                           $light-gray;
$navbar-default-border:                       darken($navbar-default-bg, 6.5%);

// Navbar links
$navbar-default-link-color:                   $navbar-default-color;
$navbar-default-link-hover-color:             $primary;
$navbar-default-link-hover-bg:                transparent;
$navbar-default-link-active-color:            $white;
$navbar-default-link-active-bg:               $darkest-shade;
$navbar-default-link-disabled-color:          $light-gray;
$navbar-default-link-disabled-bg:             transparent;

// Navbar brand label
$navbar-default-brand-color:                  $navbar-default-link-color;
$navbar-default-brand-hover-color:            darken($navbar-default-brand-color, 10%);
$navbar-default-brand-hover-bg:               transparent;

// Navbar toggle
$navbar-default-toggle-hover-bg:              transparent;
$navbar-default-toggle-icon-bar-bg:           $darkest-shade;
$navbar-default-toggle-border-color:          transparent;


// Inverted navbar
// Reset inverted navbar basics
$navbar-inverse-color:                        lighten($gray-light, 15%);
$navbar-inverse-bg:                           $darkest-shade;
$navbar-inverse-border:                       darken($navbar-inverse-bg, 10%);

// Inverted navbar links
$navbar-inverse-link-color:                   lighten($gray-light, 15%);
$navbar-inverse-link-hover-color:             $white;
$navbar-inverse-link-hover-bg:                transparent;
$navbar-inverse-link-active-color:            $navbar-inverse-link-hover-color;
$navbar-inverse-link-active-bg:               darken($navbar-inverse-bg, 10%);
$navbar-inverse-link-disabled-color:          $darker-shade;
$navbar-inverse-link-disabled-bg:             transparent;

// Inverted navbar brand label
$navbar-inverse-brand-color:                  $navbar-inverse-link-color;
$navbar-inverse-brand-hover-color:            $white;
$navbar-inverse-brand-hover-bg:               transparent;

// Inverted navbar toggle
$navbar-inverse-toggle-hover-bg:              transparent;
$navbar-inverse-toggle-icon-bar-bg:           $white;
$navbar-inverse-toggle-border-color:          transparent;


//== Navs
//
//##

//=== Shared nav styles
$nav-link-padding:                            10px 15px;
$nav-link-hover-bg:                           $lighter-shade;

$nav-disabled-link-color:                     $light-gray;
$nav-disabled-link-hover-color:               $light-gray;

//== Tabs
$nav-tabs-border-color:                       $light-gray;

$nav-tabs-link-hover-border-color:            $lighter-shade;

$nav-tabs-active-link-hover-bg:               $body-bg;
$nav-tabs-active-link-hover-color:            $dark-shade;
$nav-tabs-active-link-hover-border-color:     $light-gray;

$nav-tabs-justified-link-border-color:        $light-gray;
$nav-tabs-justified-active-link-border-color: $body-bg;

//== Pills
$nav-pills-border-radius:                     $border-radius-base;
$nav-pills-active-link-hover-bg:              $component-active-bg;
$nav-pills-active-link-hover-color:           $component-active-color;


//== Pagination
//
//##

$pagination-color:                            $text-color;
$pagination-bg:                               $lightest-shade;
$pagination-border:                           $lighter-shade;

$pagination-hover-color:                      $white;
$pagination-hover-bg:                         $primary;
$pagination-hover-border:                     transparent;

$pagination-active-color:                     $text-color;
$pagination-active-bg:                        transparent;
$pagination-active-border:                    transparent;

$pagination-disabled-color:                   $text-color;
$pagination-disabled-bg:                      transparent;
$pagination-disabled-border:                  transparent;


//== Pager
//
//##

$pager-bg:                                    $pagination-bg;
$pager-border:                                $pagination-border;
$pager-border-radius:                         $border-radius-base;
$pager-color:                                 $text-color;

$pager-hover-bg:                              $primary;
$pager-hover-color:                           $white;

$pager-active-bg:                             $pagination-active-bg;
$pager-active-color:                          $pagination-active-color;

$pager-disabled-color:                        $pagination-disabled-color;


//== Jumbotron
//
//##

$jumbotron-padding:                           30px;
$jumbotron-color:                             inherit;
$jumbotron-bg:                                $lighter-shade;
$jumbotron-heading-color:                     inherit;
$jumbotron-font-size:                         ceil(($font-size-base * 1.5));


//== Form states and alerts
//
//## Define colors for form feedback states and, by default, alerts.

$state-success-text:                          $success;
$state-success-bg:                            $success-light;
$state-success-border:                        $success-shaded;

$state-info-text:                             $info;
$state-info-bg:                               $info-light;
$state-info-border:                           $info-shaded;

$state-warning-text:                          $warning;
$state-warning-bg:                            $warning-light;
$state-warning-border:                        $warning-shaded;

$state-danger-text:                           $danger;
$state-danger-bg:                             $danger-light;
$state-danger-border:                         $danger-shaded;


//== Tooltips
//
//##

//** Tooltip max width
$tooltip-max-width:                           500px;
//** Tooltip text color
$tooltip-color:                               $white;
//** Tooltip background color
$tooltip-bg:                                  $black;
$tooltip-opacity:                             .9;

//** Tooltip arrow width
$tooltip-arrow-width:                         5px;
//** Tooltip arrow color
$tooltip-arrow-color:                         $tooltip-bg;


//== Popovers
//
//##

//** Popover body background color
$popover-bg:                                  $white;
//** Popover maximum width
$popover-max-width:                           276px;
//** Popover border color
$popover-border-color:                        $dark-gray;
//** Popover fallback border color
$popover-fallback-border-color:               $popover-border-color;

//** Popover title background color
$popover-title-bg:                            darken($popover-bg, 3%);

//** Popover arrow width
$popover-arrow-width:                         10px;
//** Popover arrow color
$popover-arrow-color:                         $popover-bg;

//** Popover outer arrow width
$popover-arrow-outer-width:                   ($popover-arrow-width + 1);
//** Popover outer arrow color
$popover-arrow-outer-color:                   opacify($popover-border-color, 0.05);
//** Popover outer arrow fallback color
$popover-arrow-outer-fallback-color:          darken($popover-fallback-border-color, 20%);


//== Labels
//
//##

//** Default label background color
$label-default-bg:                            $light-gray;
//** Primary label background color
$label-primary-bg:                            $primary;
//** Success label background color
$label-success-bg:                            $success;
//** Info label background color
$label-info-bg:                               $brand-info;
//** Warning label background color
$label-warning-bg:                            $warning;
//** Danger label background color
$label-danger-bg:                             $danger;

//** Default label text color
$label-color:                                 $white;
//** Default text color of a linked label
$label-link-hover-color:                      $white;


//== Modals
//
//##

//** Padding applied to the modal body
$modal-inner-padding:                         15px;

//** Padding applied to the modal title
$modal-title-padding:                         15px;
//** Modal title line-height
$modal-title-line-height:                     $line-height-base;

//** Background color of modal content area
$modal-content-bg:                            $white;
//** Modal content border color
$modal-content-border-color:                  $dark-gray;
//** Modal content border color **for IE8**
$modal-content-fallback-border-color:         $dark-shade;

//** Modal backdrop background color
$modal-backdrop-bg:                           $black;
//** Modal backdrop opacity
$modal-backdrop-opacity:                      .5;
//** Modal header border color
$modal-header-border-color:                   $light-shade;
//** Modal footer border color
$modal-footer-border-color:                   $modal-header-border-color;

$modal-lg:                                    900px;
$modal-md:                                    600px;
$modal-sm:                                    300px;


//== Alerts
//
//## Define alert colors, border radius, and padding.

$alert-padding:                               15px;
$alert-border-radius:                         $border-radius-base;
$alert-link-font-weight:                      bold;

$alert-success-bg:                            $state-success-bg;
$alert-success-text:                          darken($state-success-text, 50%);
$alert-success-border:                        $state-success-border;

$alert-info-bg:                               $state-info-bg;
$alert-info-text:                             darken($state-info-text, 50%);
$alert-info-border:                           $state-info-border;

$alert-warning-bg:                            $state-warning-bg;
$alert-warning-text:                          darken($state-warning-text, 50%);
$alert-warning-border:                        $state-warning-border;

$alert-danger-bg:                             $state-danger-bg;
$alert-danger-text:                           darken($state-danger-text, 50%);
$alert-danger-border:                         $state-danger-border;


//== Progress bars
//
//##

//** Background color of the whole progress component
$progress-bg:                                 $lightest-shade;
//** Progress bar text color
$progress-bar-color:                          $white;
//** Variable for setting rounded corners on progress bar.
$progress-border-radius:                      $border-radius-base;

//** Default progress bar color
$progress-bar-bg:                             $primary;
//** Success progress bar color
$progress-bar-success-bg:                     $success;
//** Warning progress bar color
$progress-bar-warning-bg:                     $warning;
//** Danger progress bar color
$progress-bar-danger-bg:                      $danger;
//** Info progress bar color
$progress-bar-info-bg:                        $brand-info;


//== List group
//
//##

//** Background color on `.list-group-item`
$list-group-bg:                               $white;
//** `.list-group-item` border color
$list-group-border:                           $light-gray;
//** List group border radius
$list-group-border-radius:                    $border-radius-base;

//** Background color of single list items on hover
$list-group-hover-bg:                         $lightest-shade;
//** Text color of active list items
$list-group-active-color:                     $component-active-color;
//** Background color of active list items
$list-group-active-bg:                        $component-active-bg;
//** Border color of active list elements
$list-group-active-border:                    $list-group-active-bg;
//** Text color for content within active list items
$list-group-active-text-color:                lighten($list-group-active-bg, 50%);

//** Text color of disabled list items
$list-group-disabled-color:                   $light-gray;
//** Background color of disabled list items
$list-group-disabled-bg:                      $lighter-shade;
//** Text color for content within disabled list items
$list-group-disabled-text-color:              $list-group-disabled-color;

$list-group-link-color:                       $text-color;
$list-group-link-hover-color:                 $list-group-link-color;
$list-group-link-heading-color:               $headings-color;


//== Panels
//
//##

$panel-bg:                                    $white;
$panel-body-padding:                          16px;
$panel-heading-padding:                       10px 16px;
$panel-footer-padding:                        $panel-heading-padding;
$panel-border-radius:                         0;

//** Border color for elements within panels
$panel-inner-border:                          $light-gray;
$panel-footer-bg:                             $lighter-shade;

$panel-default-text:                          $darker-shade;
$panel-default-border:                        $light-gray;
$panel-default-heading-bg:                    $lighter-shade;

$panel-primary-text:                          $white;
$panel-primary-border:                        $primary-shaded;
$panel-primary-heading-bg:                    $primary;

$panel-success-text:                          darken($state-success-text, 50%);
$panel-success-border:                        $state-success-border;
$panel-success-heading-bg:                    $state-success-bg;

$panel-info-text:                             darken($state-info-text, 50%);
$panel-info-border:                           $state-info-border;
$panel-info-heading-bg:                       $state-info-bg;

$panel-warning-text:                          darken($state-warning-text, 50%);
$panel-warning-border:                        $state-warning-border;
$panel-warning-heading-bg:                    $state-warning-bg;

$panel-danger-text:                           darken($state-danger-text, 50%);
$panel-danger-border:                         $state-danger-border;
$panel-danger-heading-bg:                     $state-danger-bg;


//== Thumbnails
//
//##

//** Padding around the thumbnail image
$thumbnail-padding:                           4px;
//** Thumbnail background color
$thumbnail-bg:                                $body-bg;
//** Thumbnail border color
$thumbnail-border:                            $light-gray;
//** Thumbnail border radius
$thumbnail-border-radius:                     $border-radius-base;

//** Custom text color for thumbnail captions
$thumbnail-caption-color:                     $text-color;
//** Padding around the thumbnail caption
$thumbnail-caption-padding:                   9px;


//== Wells
//
//##

$well-bg:                                     $lightest-shade;
$well-border:                                 darken($well-bg, 7%);


//== Badges
//
//##

$badge-color:                                 $white;
//** Linked badge text color on hover
$badge-link-hover-color:                      $white;
$badge-bg:                                    $light-gray;

//** Badge text color in active nav link
$badge-active-color:                          $link-color;
//** Badge background color in active nav link
$badge-active-bg:                             $white;

$badge-font-weight:                           bold;
$badge-line-height:                           1;
$badge-border-radius:                         10px;


//== Breadcrumbs
//
//##

$breadcrumb-padding-vertical:                 8px;
$breadcrumb-padding-horizontal:               12px;
//** Breadcrumb background color
$breadcrumb-bg:                               $lightest-shade;
//** Breadcrumb text color
$breadcrumb-color:                            $text-color;
//** Text color of current page in the breadcrumb
$breadcrumb-active-color:                     $text-color;
//** Textual separator for between breadcrumb elements
$breadcrumb-separator:                        ">";


//== Carousel
//
//##

$carousel-text-shadow:                        0 1px 2px rgba(0,0,0,.6);

$carousel-control-color:                      $white;
$carousel-control-width:                      15%;
$carousel-control-opacity:                    .5;
$carousel-control-font-size:                  20px;

$carousel-indicator-active-bg:                $white;
$carousel-indicator-border-color:             $white;

$carousel-caption-color:                      $white;


//== Close
//
//##

$close-font-weight:                           bold;
$close-color:                                 $black;
$close-text-shadow:                           0 1px 0 $white;


//== Code
//
//##

$code-color:                                  $danger;
$code-bg:                                     $lightest-shade;

$kbd-color:                                   $white;
$kbd-bg:                                      $darker-shade;

$pre-bg:                                      $lightest-shade;
$pre-color:                                   $darker-shade;
$pre-border-color:                            $dark-gray;
$pre-scrollable-max-height:                   340px;


//== Type
//
//##

//** Horizontal offset for forms and lists.
$component-offset-horizontal:                 180px;
//** Text muted color
$text-muted:                                  $light-gray;
//** Abbreviations and acronyms border color
$abbr-border-color:                           $light-gray;
//** Headings small color
$headings-small-color:                        $dark-gray;
//** Blockquote small color
$blockquote-small-color:                      $darker-shade;
//** Blockquote font size
$blockquote-font-size:                        ($font-size-base * 1.25);
//** Blockquote border color
$blockquote-border-color:                     $lighter-shade;
//** Page header border color
$page-header-border-color:                    $lighter-shade;
//** Width of horizontal description list titles
$dl-horizontal-offset:                        $component-offset-horizontal;
//** Horizontal line color.
$hr-border:                                   $lighter-shade;


// Overridden Bootstrap Chosen Variables
// -------------------------
$chosen-background:                           $input-bg;
$chosen-border:                               1px solid $input-border;
$chosen-border-radius:                        $input-border-radius;
$chosen-multi-border-radius:                  $chosen-border-radius;
$chosen-box-shadow:                           inset 0 1px 1px rgba(0, 0, 0, .075);
$chosen-drop-border:                          $input-border;
$chosen-drop-box-shadow:                      0 8px 8px rgba(0, 0, 0, .25);
$chosen-drop-zindex:                          1060;
$chosen-focus-border:                         1px solid $input-border-focus;
$chosen-focus-box-shadow:                     0 1px 1px rgba(0, 0, 0, .075) inset, 0 0 8px rgba(82, 168, 236, .6);
$chosen-focus-transition:                     border linear .2s, box-shadow linear .2s;
$chosen-height:                               $input-height-base;
$chosen-multi-height:                         $input-height-base + 6px;
$chosen-sprite-path:                          "../images/chosen-sprite.png";
$chosen-sprite-retina-path:                   "../images/chosen-sprite@2x.png";

// Hippo Theme Component Variables
// -------------------------
$hippo-navbar-height:                         51px;
$hippo-navbar-title-width:                    200px;
$hippo-navbar-title-font-size:                18px;
$hippo-navbar-brand-font-size:                18px;

$side-navbar-width:                           200px;
$side-navbar-bg:                              $darker-shade;
$side-navbar-link-color:                      $white;
$side-navbar-active-bg:                       $darkest-shade;

// Forms
$input-group-addon-success:                   darken($state-success-text, 50%);
$input-group-addon-danger:                    darken($state-danger-text, 50%);
$input-group-addon-warning:                   darken($state-warning-text, 50%);

// Tables
$table-radius:                                $border-radius-base;

// Side Navigation
$feature-default-border:                      $well-border;

// Logs
$log-alert-height:                            51px;

// Tree
$tree-bg:                                     $white;
$tree-color:                                  $darker-shade;
$tree-icon-color:                             $dark-shade;
$tree-border-radius:                          4px;
$tree-border-color:                           $gray-light;
$tree-font-size:                              13px;
$tree-hover-bg:                               $lightest-shade;
// Active tree item
$tree-active-bg:                              $primary;
$tree-active-border-color:                    $gray-light;
$tree-active-color:                           $white;
// DragDrop placeholder
$tree-dd-bg:                                  $gray-light;
$tree-dd-border-radius:                       $border-radius-base;

// Grid
$gridCols:                                    12;
