// Copyright 2014-2015 Hippo B.V. (http://www.onehippo.com)
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//  http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.

.tree-col {
  position: relative;
  padding: 4px;
  white-space: nowrap;
  overflow-x: auto;
}

.hippo-tree-wrapper {
  display: inline-block;
  min-width: 100%
}

.angular-ui-tree {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.angular-ui-tree-nodes {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;

  .angular-ui-tree-nodes {
    padding-left: 10px;
  }
}

.angular-ui-tree-node {
  display: block;
  padding: 0;
  min-height: 20px;
  line-height: 20px;
  margin-top: 3px;

  &.active {
    & > .angular-ui-tree-handle {
      background: $tree-active-bg;
      border-color: $tree-active-border-color;
      color: $tree-active-color;

      .spacer,
      svg {
        color: $tree-active-color;
      }
    }
  }
}

.angular-ui-tree-handle {
  .drag-enabled & {
    cursor: move;
    border: 1px solid $tree-border-color;
    border-radius: $tree-border-radius;
  }
  display: inline-block;
  min-width: 100%;
  cursor: pointer;
  padding: 1px 2px;
  color: $tree-color;
  text-decoration: none;
  box-sizing: border-box;
  background-color: $tree-bg;
  background-clip: padding-box;
  font-size: $tree-font-size;

  &:hover {
    background: $tree-hover-bg;
    text-decoration: none;
  }

  .btn-xs {
    color: $gray-darker;
    vertical-align: middle;
    width: 12px;
    border: 0;
    padding: 0;
    svg {
      width: 10px;
      color: $tree-icon-color;
    }
    &:hover {
      text-decoration: none;
    }
  }

  .spacer {
    display: inline-block;
    vertical-align: top;
    width: 12px;
    color: $gray-darker;
    padding-left: 4px;
  }

  .angular-ui-tree-title {
    display: inline-block;
    min-width: calc(100% - 42px);
  }

  .folder {
    width: 15px;
  }
}

.angular-ui-tree-placeholder {
  margin-top: 4px;
  padding: 0;
  background: $tree-dd-bg;
  box-shadow: 0 0 0 1px $tree-dd-bg;
  border-radius: $tree-border-radius;
}

.angular-ui-tree > ol > .angular-ui-tree-hidden:first-child + li,
.angular-ui-tree > ol > li:first-child {
  margin-top: 0;
}

.angular-ui-tree-drag {
  position: absolute;
  pointer-events: none;
  z-index: 999;
  zoom: 1;
  filter: alpha(opacity=90);
  opacity: 0.9;
  border-radius: $tree-border-radius;
  box-sizing: border-box;
}
