<!--
- Copyright 2015 Hippo B.V. (http://www.onehippo.com)
-
- Licensed under the Apache License, Version 2.0 (the "License");
- you may not use this file except in compliance with the License.
- You may obtain a copy of the License at
-
- http://www.apache.org/licenses/LICENSE-2.0
-
- Unless required by applicable law or agreed to in writing, software
- distributed under the License is distributed on an "AS IS" BASIS,
- WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
- See the License for the specific language governing permissions and
- limitations under the License.
-->

<div ui-tree="options"
     ng-class="{
       'drag-enabled': drag == true,
       'drag-disabled': drag == false,
     }"
     data-drag-enabled="drag">
  <ol ui-tree-nodes ng-model="treeItems">
    <li ng-repeat="item in treeItems"
        ui-tree-node
        data-hippo-node-template-url="tree/tree-include.tpl.html"
        data-ng-class="{active: selectedItem.id == item.id}"
        scroll-to-if="selectedItem.id == item.id"
        data-collapsed="item.collapsed">
    </li>
  </ol>
</div>
