<!--
  Copyright 2015 Hippo B.V. (http://www.onehippo.com)

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

   http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<div class="panel-heading">Blur on Click</div>
<div class="panel-body">
  <div class="row">
    <div class="col-sm-6">
      <div>
        <p>
          Firefox and IE keep focusing clicked navbar links that trigger routing. Use the blur-on-click directive to
          forcibly remove the focus once a link is clicked.
        </p>
        <ul class="nav navbar-nav">
          <li>
            <a href>Normal navbar link</a>
          </li>
          <li>
            <a href hippo-blur-on-click>Blur-on-click navbar link</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-sm-6">
      <pre>
        &lt;a href="..." hippo-blur-on-click/&gt;Blur-on-click navbar link&lt;/a&gt;
      </pre>
    </div>
  </div>
</div>
