<!--
- Copyright 2015 Hippo B.V. (http://www.onehippo.com)
-
- Licensed under the Apache License, Version 2.0 (the "License");
- you may not use this file except in compliance with the License.
- You may obtain a copy of the License at
-
- http://www.apache.org/licenses/LICENSE-2.0
-
- Unless required by applicable law or agreed to in writing, software
- distributed under the License is distributed on an "AS IS" BASIS,
- WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
- See the License for the specific language governing permissions and
- limitations under the License.
-->

<div class="panel-heading">Carousel</div>
<div class="panel-body">
  <div class="row">
    <div class="col-sm-6">
      <p>To provide the carousel with small clickable thumbnails as navigation instead of the normal bullets
        we have forked part of the template of the carousel directive of
        <a href="http://angular-ui.github.io/bootstrap/">Angular UI Bootstrap</a>.
        The usage of the carousel remains the same.
      </p>

      <hr>

      <div ng-controller="CarouselCtrl">
        <uib-carousel interval="myInterval">
          <uib-slide ng-repeat="slide in slides" active="slide.active">
            <img ng-src="{{slide.image}}">
            <div class="carousel-caption">
              <h4>Slide {{$index}}</h4>
              <p>{{slide.text}}</p>
            </div>
          </uib-slide>
        </uib-carousel>
      </div>
    </div>
    <div class="col-sm-6">
      <pre>
        &lt;uib-carousel interval="myInterval"&gt;
          &lt;uib-slide ng-repeat="slide in slides" active="slide.active"&gt;
            &lt;img ng-src="{{slide.image}}"&gt;
            &lt;div class="carousel-caption"&gt;
              &lt;h4&gt;Slide {{$index}}&lt;/h4&gt;
              &lt;p&gt;{{slide.text}}&lt;/p&gt;
            &lt;/div&gt;
          &lt;/uib-slide&gt;
        &lt;/uib-carousel&gt;
      </pre>
    </div>
  </div>
</div>
