<!--
  Copyright 2015 Hippo B.V. (http://www.onehippo.com)

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

   http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<div class="panel-heading">Confirmation Dialog</div>
<div class="panel-body">
  <div class="row">
    <div class="col-sm-6">
      <div ng-controller="ConfirmationDialogCtrl">
        <div hippo-confirmation-dialog confirm-icon="trash" perform-confirmation="confirmationClicked()" perform-cancel="cancelClicked()" confirm-label="Confirm" cancel-label="Cancel" show="confirmation.show">
          <p><strong>Confirmation dialog title</strong></p>
          <p>Confirmation dialog message.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <pre>
        &lt;div hippo-confirmation-dialog
          confirm-icon="trash"
          perform-confirmation="confirmationClicked()"
          perform-cancel="cancelClicked()"
          confirm-label="Confirm"
          cancel-label="Cancel"
          show="confirmation.show"&gt;
          &lt;p&gt;
            &lt;strong&gt;Confirmation dialog title&lt;/strong&gt;
          &lt;/p&gt;
          &lt;p&gt;
           Confirmation dialog message.
          &lt;/p&gt;
        &lt;/div&gt;
      </pre>
    </div>
  </div>
</div>
