<!--
  Copyright 2015 Hippo B.V. (http://www.onehippo.com)

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

   http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<div class="panel-heading">Focus Me</div>
<div class="panel-body">
  <div class="row">
    <div class="col-sm-6">
      <div ng-controller="FocusMeCtrl">
        <input type="text"
               placeholder="Click the button to focus me"
               hippo-focus-me="field.focus"
               class="default form-control">
        <button ng-click="setFocus()" class="btn btn-default">Toggle Focus!</button>
        <p>Field focused: {{ field.focus }}</p>
      </div>
    </div>
    <div class="col-sm-6">
      <pre>
        &lt;input hippo-focus-me="focusBoolean"&gt;
      </pre>
    </div>
  </div>
</div>
