<!--
- Copyright 2015 Hippo B.V. (http://www.onehippo.com)
-
- Licensed under the Apache License, Version 2.0 (the "License");
- you may not use this file except in compliance with the License.
- You may obtain a copy of the License at
-
- http://www.apache.org/licenses/LICENSE-2.0
-
- Unless required by applicable law or agreed to in writing, software
- distributed under the License is distributed on an "AS IS" BASIS,
- WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
- See the License for the specific language governing permissions and
- limitations under the License.
-->

<div class="alert alert-warning" ng-class="{'alert-open': showErrors}" ng-controller="ErrorCtrl" ng-click="toggleErrors($event)">
  <button type="button" class="close" data-dismiss="alert" ng-click="hideLog()">
    <span aria-hidden="true">&times;</span>
    <span class="sr-only">Close</span>
  </button>
  <p>
    <hippo-icon name="{{showErrors ? 'chevron-down' : 'chevron-right'}}" size="m"></hippo-icon>
    15:55:46 -
    <hippo-icon name="exclamation" size="m" class="text-danger"></hippo-icon>
    Interesting error message
  </p>
  <div class="log-messages ng-hide" ng-show="showErrors">
    <p>15:55:46 -
      <hippo-icon name="exclamation" size="m" class="text-danger"></hippo-icon>
      Interesting error message
    </p>
    <p>15:55:46 -
      <hippo-icon name="check-circle" size="m" class="text-info"></hippo-icon>
      Interesting error message
    </p>
    <p>15:55:46 -
      <hippo-icon name="times-circle" size="m" class="text-success"></hippo-icon>
      Interesting error message
    </p>
    <p>15:55:46 -
      <hippo-icon name="code" size="m" class="text-warning"></hippo-icon>
      Interesting error message
    </p>
    <p>15:55:46 -
      <hippo-icon name="exclamation" size="m"></hippo-icon>
      Interesting error message
    </p>
    <p>15:55:46 -
      <hippo-icon name="exclamation" size="m"></hippo-icon>
      Interesting error message
    </p>
    <p>15:55:46 -
      <hippo-icon name="exclamation" size="m"></hippo-icon>
      Interesting error message
    </p>
    <p>15:55:46 -
      <hippo-icon name="exclamation" size="m"></hippo-icon>
      Interesting error message
    </p>
    <p>15:55:46 -
      <hippo-icon name="exclamation" size="m"></hippo-icon>
      Interesting error message
    </p>
    <p>15:55:46 -
      <hippo-icon name="exclamation" size="m"></hippo-icon>
      Interesting error message
    </p>
    <p>15:55:46 -
      <hippo-icon name="exclamation" size="m"></hippo-icon>
      Interesting error message
    </p>
    <p>15:55:46 -
      <hippo-icon name="exclamation" size="m"></hippo-icon>
      Interesting error message
    </p>
  </div>
</div>
