<!--
- Copyright 2015 Hippo B.V. (http://www.onehippo.com)
-
- Licensed under the Apache License, Version 2.0 (the "License");
- you may not use this file except in compliance with the License.
- You may obtain a copy of the License at
-
- http://www.apache.org/licenses/LICENSE-2.0
-
- Unless required by applicable law or agreed to in writing, software
- distributed under the License is distributed on an "AS IS" BASIS,
- WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
- See the License for the specific language governing permissions and
- limitations under the License.
-->

<div class="container-fluid">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" ng-click="toggleCollapsed()">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <span class="badge badge-primary notification-badge">18</span>
    <a class="navbar-brand" href="#/introduction">Hippo Theme</a>
    <p class="navbar-text navbar-title">
      <span class="navbar-title-text">a work in progress</span>
    </p>
    <p class="navbar-text hippo-navbar-icons">
      <a href="#/introduction" class="navbar-link" data-toggle="modal" data-target="#myModal" data-backdrop="static" data-keyboard="false">
        <hippo-icon name="restore" size="m"></hippo-icon>
        <span class="hidden-xs">Example navbar icons</span>
      </a>
      <a href="#" class="navbar-link" ng-click="displayLog($event)">
        <hippo-icon name="info-circle"></hippo-icon>
        <span class="hidden-xs">View top log</span>
      </a>
    </p>
  </div>
  <div class="navbar-collapse collapse hippo-sidenav" ng-controller="NavCtrl" uib-collapse="isCollapsed">
    <ul class="nav navbar-nav">
      <li ng-class="{active: isActive('/introduction')}">
        <a href="#/introduction" ng-click="collapse()">
          Introduction
        </a>
      </li>
      <li ng-class="{active: isActive('/grid-systems')}">
        <a href="#/grid-systems" ng-click="collapse()">
          Grid Systems
        </a>
      </li>
      <li ng-class="{active: isActive('/css-core')}">
        <a href="#/css-core" ng-click="collapse()">
          CSS Core
        </a>
      </li>
      <li ng-class="{active: isActive('/bootstrap-components')}">
        <a href="#/bootstrap-components" ng-click="collapse()">
          Bootstrap Components
        </a>
      </li>
      <li ng-class="{active: isActive('/angular-components')}">
        <a href="#/angular-components" ng-click="collapse()">
          Angular Components
        </a>
      </li>
      <li ng-class="{active: isActive('/hippo-icons')}">
        <a href="#/hippo-icons" ng-click="collapse()">
          Hippo Icons
        </a>
      </li>
    </ul>
  </div>
</div>
