<!--
  Copyright 2015 Hippo B.V. (http://www.onehippo.com)

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

   http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<div class="panel-heading">Scroll-to-if</div>
<div class="panel-body" style="height: 350px; overflow-y: scroll;">
  <div class="row">
    <div class="col-sm-6" ng-controller="ScrollCtrl">
      <div scroll-to-if="scrollId == 'top'">This is the top. Click <a ng-click="scrollToId('bottom')" href="">here</a> to scroll to bottom.</div>
      <div style="height: 1000px;"><!-- add vertical space for example --></div>
      <div scroll-to-if="scrollId == 'bottom'">This is the bottom. Click <a ng-click="scrollToId('top')" href="">here</a> to scroll to top.</div>
    </div>
    <div class="col-sm-6">
      <h4>Template</h4>
      <pre>
        &lt;div scroll-to-if="scrollId == 'top'"&gt;This is the top.
          Click &lt;a ng-click="scrollToId('bottom')" href=""&gt;here&lt;/a&gt; to scroll to bottom.
        &lt;/div&gt;
        &lt;div style="height: 1000px;" /&gt;
        &lt;div scroll-to-if="scrollId == 'bottom'"&gt;This is the bottom.
          Click &lt;a ng-click="scrollToId('top')" href=""&gt;here&lt;/a&gt; to scroll to top.
        &lt;/div&gt;
      </pre>
      <p> The offsetTop property is used to calculate the amount of scrolling needed to put the element into view.
        This is done by finding the first 'positioned' ancestor (the offsetParent) which by default is the &lt;body&gt; element.
        In this example, the parent element with class 'col-sm-6 ng-scope' has a position:relative, so it will act as the
        offsetParent. If a different element should be used (and not the body) a marker class named 'scroll-to-container'
        can be used.
      </p>
      <h4>Controller</h4>
      <pre>
        $scope.scrollToId = function (id) {
          $scope.scrollId = id;
        };
      </pre>
    </div>
  </div>
</div>
