<!--
  Copyright 2015 Hippo B.V. (http://www.onehippo.com)

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

   http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<div class="panel-heading">Select Box</div>
<div class="panel-body">
  <div class="row">
    <div class="col-sm-6">
      <div ng-controller="ChosenCtrl">
        <p><b>Note</b>: If you use ng-model and ng-options you have to add an empty
          <code>&lt;option&gt;</code> child element to the <code>&lt;select&gt;</code>.
          See
          <a href="https://github.com/localytics/angular-chosen#integration-with-ngmodel-and-ngoptions">
            explanation in angular chosen docs
          </a>
        </p>
        <div class="form-group has-feedback has-success">
          <label class="control-label">Valid Select Box with a single value</label>
          <select chosen
                  ng-model="singleSelectedValue"
                  ng-options="option.name for option in values"
                  no-results-text="noResultsText"
                  data-placeholder="placeholder"
                  width="selectBoxWidth">
          </select>
          <span class="form-control-feedback">
            <hippo-icon class="text-success" name="check-circle" size="m"></hippo-icon>
          </span>
        </div>

        <div class="form-group has-feedback has-error">
          <label class="control-label">Invalid Select Box with multiple values</label>
          <select chosen
                  multiple
                  ng-model="selectedValues"
                  ng-options="option.name for option in values"
                  no-results-text="noResultsText"
                  data-placeholder="placeholder"
                  width="selectBoxWidth">
          </select>
          <span class="form-control-feedback">
            <hippo-icon class="text-danger" name="times-circle" size="m"></hippo-icon>
          </span>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <pre>
        &lt;select chosen
                multiple
                ng-model="selectedValues"
                ng-options="v.name for v in values"
                no-results-text="No results found for"
                placeholder="Please select an item"
                width="selectBoxWidth"&gt;
        &lt;/select&gt;
      </pre>
    </div>
  </div>
</div>
