<!--
  Copyright 2015 Hippo B.V. (http://www.onehippo.com)

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

   http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<div class="panel-heading">Tree</div>
<div class="panel-body" ng-controller="TreeCtrl">
  <div class="row">
    <div class="col-sm-6">
      <div hippo-tree items="treeItems" callbacks="callbacks" class="hippo-tree" selected-item="selectedItem" drag="true">
        <a class="btn btn-link btn-xs" data-nodrag data-ng-click="toggleItem()" stop-propagation data-ng-hide="childNodes().length === 0">
          <hippo-icon name="{{collapsed ? 'caret-right' : 'caret-down'}}" size="m"></hippo-icon>
        </a>
        <div class="spacer" data-ng-hide="childNodes().length !== 0">&#9679;</div>
        <span class="angular-ui-tree-title-wrapper">
          <span class="angular-ui-tree-title">{{ item.title }}</span>
        </span>
      </div>
      <hr/>
      <div class="tree-col">
        <div class="hippo-tree-wrapper">
          <div hippo-tree items="pickerTreeItems" callbacks="callbacks" class="hippo-tree" selected-item="selectedItem" drag="false">
            <a class="btn btn-link btn-xs" data-nodrag data-ng-click="toggleItem()" stop-propagation data-ng-if="item.expandable">
              <hippo-icon name="{{collapsed ? 'caret-right' : 'caret-down'}}" size="m"></hippo-icon>
            </a>
            <span class="spacer" data-ng-if="!item.expandable"></span>
            <span class="angular-ui-tree-title-wrapper">
              <hippo-icon name="{{collapsed ? 'folder' : 'folder-open'}}" size="m"></hippo-icon>
              <span class="angular-ui-tree-title">{{ item.title }}</span>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <p>
        <strong>Note:</strong> toggleItem() will keep the collapsed states of your model and ui-tree in sync.
      </p>

      <h4>HTML</h4>
      <pre>
        &lt;div ng-controller="TreeCtrl"&gt;
          &lt;div hippo-tree
            items="treeItems"
            callbacks="callbacks"
            selected-item="selectedItem"
            class="ng-cloak"&gt;
            &lt;a class="btn btn-link btn-xs"
              data-nodrag data-ng-click="toggleItem()"
              data-ng-hide="childNodes().length === 0"&gt;
              &lt;hippo-icon class="hi hi-caret hi-tiny" name="caret" size="m"
               data-ng-class="{'hi-caret-right': collapsed, 'hi-caret-down': !collapsed}"&gt;
              &lt;/hippo-icon&gt;
            &lt;/a&gt;
            &lt;div class="spacer" data-ng-hide="childNodes().length !== 0"&gt;&#9679;&lt;/div&gt;
            {{ item.title }}
          &lt;/div&gt;
        &lt;/div&gt;
      </pre>

      <h4>Example tree data</h4>
      <pre>
        $scope.treeItems = [
          {
            id: 1,
            title: 'Item 1',
            collapsed: true,
            items: [
              {
                id: 11,
                title: 'Item 1.1'
              }
            ]
          }, {
            id: 2,
            title: 'Item 2',
            items: []
          }
        ];
      </pre>
      <h4>Available callbacks</h4>
      <pre>
        $scope.callbacks = {
          accept: function(sourceNodeScope, destNodesScope, destIndex) {},
          displayTreeItem: function(item) {},
          dropped: function(event) {},
          dragStart: function(event) {},
          dragMove: function(event) {},
          dragStop: function(event) {},
          selectItem: function(item) {},
          toggleItem: function(item) {}
        };
      </pre>
    </div>
  </div>
</div>
