// Copyright 2014-2015 Hippo B.V. (http://www.onehippo.com)
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//  http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.

.confirmation-dialog {
  border-radius: 0;
  padding: 30px 20px 16px 20px;
  border-color: $light-gray;
  background-color: rgb(245, 245, 245);
  background-color: rgba(245, 245, 245, 0.94);

  -webkit-transition: top .5s;
  -moz-transition: top .5s;
  -ms-transition: top .5s;
  -o-transition: top .5s;
  transition: top .5s;

  p {
    color: $text-color;
  }

  a {
    font-weight: normal;
  }

  .confirm {
    font-weight: normal;
  }

  .buttons {
    margin-top: 30px;
  }
}
