<!--
  Copyright 2015-2016 Hippo B.V. (http://www.onehippo.com)

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

   http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <h1>AngularJS components
        <small>Angular Bootstrap and HippoCMS Angular directives</small>
      </h1>
      <p>
        There is an <a href="docs/">API reference</a> available for the AngularJS components and services that are
        part of the Hippo theme.
      </p>

      <div id="carousel" class="panel panel-danger" ng-include="'includes/carousel.html'"></div>

      <div id="tree" class="panel panel-danger" ng-include="'includes/tree.html'"></div>

      <div id="select-box" class="panel panel-danger" ng-include="'includes/select-box.html'"></div>

      <div id="focus-me" class="panel panel-danger" ng-include="'includes/focus-me.html'"></div>

      <div id="blur-on-click" class="panel panel-danger" ng-include="'includes/blur-on-click.html'"></div>

      <div id="divider" class="panel panel-danger" ng-include="'includes/divider.html'"></div>

      <div id="confirmation-dialog" class="panel panel-danger" ng-include="'includes/confirmation-dialog.html'"></div>

      <div id="scroll" class="panel panel-danger" ng-include="'includes/scroll.html'"></div>

      <div class="panel panel-danger">
        <div class="panel-heading">Angular UI Bootstrap</div>
        <div class="panel-body">
          <p>To support other Bootstrap JS components use components out of the
            <a href="http://angular-ui.github.io/bootstrap/">Angular UI Bootstrap</a> components library.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
