<!--
Copyright 2014 Hippo B.V. (http://www.onehippo.com)

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <h1>Bootstrap components
        <small>Bootstrap components that do not need Javascript</small>
      </h1>

      <div class="panel panel-success">
        <div class="panel-heading">Input Groups</div>
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-6">
              <form>
                <fieldset class="form-group">
                  <div class="input-group">
                    <span class="input-group-addon">@</span>
                    <input type="text" class="form-control" placeholder="Username">
                  </div>
                </fieldset>
                <fieldset class="form-group">
                  <div class="input-group">
                    <input type="text" class="form-control">
                    <span class="input-group-addon">.00</span>
                  </div>
                </fieldset>
                <fieldset class="form-group">
                  <div class="input-group">
                    <span class="input-group-addon">$</span>
                    <input type="text" class="form-control">
                    <span class="input-group-addon">.00</span>
                  </div>
                </fieldset>
                <fieldset class="form-group">
                  <div class="input-group input-group-lg">
                    <span class="input-group-addon">@</span>
                    <input type="text" class="form-control" placeholder="Username">
                  </div>
                </fieldset>
                <fieldset class="form-group">
                  <div class="input-group input-group-sm">
                    <span class="input-group-addon">@</span>
                    <input type="text" class="form-control" placeholder="Username">
                  </div>
                </fieldset>
                <fieldset class="form-group">
                  <div class="input-group">
                    <span class="input-group-addon">
                      <input type="checkbox">
                    </span>
                    <input type="text" class="form-control">
                  </div>
                </fieldset>
                <fieldset class="form-group">
                  <div class="input-group">
                    <span class="input-group-addon">
                      <input type="radio">
                    </span>
                    <input type="text" class="form-control">
                  </div>
                </fieldset>
                <fieldset class="form-group">
                  <div class="input-group">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Go!</button>
                    </span>
                    <input type="text" class="form-control">
                  </div>
                </fieldset>
                <fieldset class="form-group">
                  <div class="input-group">
                    <div class="input-group-btn">
                      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Action
                        <span class="caret"></span></button>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                      </ul>
                    </div>
                    <input type="text" class="form-control">
                  </div>
                </fieldset>
              </form>
            </div>
            <div class="col-sm-6">
                <pre>
                  &lt;fieldset class="form-group"&gt;
                    &lt;div class="input-group"&gt;
                      &lt;span class="input-group-addon"&gt;@&lt;/span&gt;
                      &lt;input type="text" class="form-control" placeholder="Username"&gt;
                    &lt;/div&gt;
                  &lt;/fieldset&gt;
                  &lt;fieldset class="form-group"&gt;
                    &lt;div class="input-group"&gt;
                      &lt;input type="text" class="form-control"&gt;
                      &lt;span class="input-group-addon"&gt;.00&lt;/span&gt;
                    &lt;/div&gt;
                  &lt;/fieldset&gt;
                  &lt;fieldset class="form-group"&gt;
                    &lt;div class="input-group"&gt;
                      &lt;span class="input-group-addon"&gt;$&lt;/span&gt;
                      &lt;input type="text" class="form-control"&gt;
                      &lt;span class="input-group-addon"&gt;.00&lt;/span&gt;
                    &lt;/fieldset&gt;
                    &lt;fieldset class="form-group"&gt;
                      &lt;div class="input-group input-group-lg"&gt;
                        &lt;span class="input-group-addon"&gt;@&lt;/span&gt;
                        &lt;input type="text" class="form-control" placeholder="Username"&gt;
                      &lt;/div&gt;
                    &lt;/fieldset&gt;
                    &lt;fieldset class="form-group"&gt;
                      &lt;div class="input-group input-group-sm"&gt;
                        &lt;span class="input-group-addon"&gt;@&lt;/span&gt;
                        &lt;input type="text" class="form-control" placeholder="Username"&gt;
                      &lt;/div&gt;
                    &lt;/fieldset&gt;
                    &lt;fieldset class="form-group"&gt;
                      &lt;div class="input-group"&gt;
                        &lt;span class="input-group-addon"&gt;
                          &lt;input type="checkbox"&gt;
                        &lt;/span&gt;
                        &lt;input type="text" class="form-control"&gt;
                      &lt;/div&gt;
                    &lt;/fieldset&gt;
                    &lt;fieldset class="form-group"&gt;
                      &lt;div class="input-group"&gt;
                        &lt;span class="input-group-addon"&gt;
                          &lt;input type="radio"&gt;
                        &lt;/span&gt;
                        &lt;input type="text" class="form-control"&gt;
                      &lt;/div&gt;
                    &lt;/fieldset&gt;
                    &lt;fieldset class="form-group"&gt;
                      &lt;div class="input-group"&gt;
                        &lt;span class="input-group-btn"&gt;
                          &lt;button class="btn btn-default" type="button"&gt;Go!&lt;/button&gt;
                        &lt;/span&gt;
                        &lt;input type="text" class="form-control"&gt;
                      &lt;/div&gt;
                    &lt;/fieldset&gt;
                    &lt;fieldset class="form-group"&gt;
                      &lt;div class="input-group"&gt;
                        &lt;div class="input-group-btn"&gt;
                          &lt;button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"&gt;Action &lt;span class="caret"&gt;&lt;/span&gt;&lt;/button&gt;
                          &lt;ul class="dropdown-menu" role="menu"&gt;
                            &lt;li&gt;&lt;a href="#"&gt;Action&lt;/a&gt;&lt;/li&gt;
                            &lt;li&gt;&lt;a href="#"&gt;Another action&lt;/a&gt;&lt;/li&gt;
                            &lt;li&gt;&lt;a href="#"&gt;Something else here&lt;/a&gt;&lt;/li&gt;
                            &lt;li class="divider"&gt;&lt;/li&gt;
                            &lt;li&gt;&lt;a href="#"&gt;Separated link&lt;/a&gt;&lt;/li&gt;
                          &lt;/ul&gt;
                        &lt;/div&gt;
                        &lt;input type="text" class="form-control"&gt;
                      &lt;/div&gt;
                    &lt;/fieldset&gt;
                  </pre>
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-success">
        <div class="panel-heading">Breadcrumbs</div>
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-6">
              <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li><a href="#">Library</a></li>
                <li class="active">Data</li>
              </ol>
            </div>
            <div class="col-sm-6">
                  <pre>
                    &lt;ol class="breadcrumb"&gt;
                      &lt;li&gt;&lt;a href="#"&gt;Home&lt;/a&gt;&lt;/li&gt;
                      &lt;li&gt;&lt;a href="#"&gt;Library&lt;/a&gt;&lt;/li&gt;
                      &lt;li class="active"&gt;Data&lt;/li&gt;
                    &lt;/ol&gt;
                  </pre>
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-success">
        <div class="panel-heading">Pagination</div>
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-6">
              <div>
                <ul class="pagination pagination-lg">
                  <li class="disabled"><a href="#">«</a></li>
                  <li class="active"><a href="#">1</a></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#">4</a></li>
                  <li><a href="#">5</a></li>
                  <li><a href="#">»</a></li>
                </ul>
              </div>
              <div>
                <ul class="pagination">
                  <li class="disabled"><a href="#">«</a></li>
                  <li class="active"><a href="#">1</a></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#">4</a></li>
                  <li><a href="#">5</a></li>
                  <li><a href="#">»</a></li>
                </ul>
              </div>
              <div>
                <ul class="pagination pagination-sm">
                  <li class="disabled"><a href="#">«</a></li>
                  <li class="active"><a href="#">1</a></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#">4</a></li>
                  <li><a href="#">5</a></li>
                  <li><a href="#">»</a></li>
                </ul>
              </div>
            </div>
            <div class="col-sm-6">
                  <pre>
                    &lt;ul class="pagination pagination-lg"&gt;
                    ...
                    &lt;/ul&gt;

                    &lt;ul class="pagination"&gt;
                      &lt;li class="disabled"&gt;&lt;a href="#"&gt;«&lt;/a&gt;&lt;/li&gt;
                      &lt;li class="active"&gt;&lt;a href="#"&gt;1&lt;/a&gt;&lt;/li&gt;
                      &lt;li&gt;&lt;a href="#"&gt;2&lt;/a&gt;&lt;/li&gt;
                      &lt;li&gt;&lt;a href="#"&gt;3&lt;/a&gt;&lt;/li&gt;
                      &lt;li&gt;&lt;a href="#"&gt;4&lt;/a&gt;&lt;/li&gt;
                      &lt;li&gt;&lt;a href="#"&gt;5&lt;/a&gt;&lt;/li&gt;
                      &lt;li&gt;&lt;a href="#"&gt;»&lt;/a&gt;&lt;/li&gt;
                    &lt;/ul&gt;

                    &lt;ul class="pagination pagination-sm"&gt;
                    ...
                    &lt;/ul&gt;
                  </pre>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-6">
              <h4>Pager</h4>
              <div>
                <ul class="pager">
                  <li><a href="#">Previous</a></li>
                  <li><a href="#">Next</a></li>
                </ul>
              </div>
              <div>
                <ul class="pager">
                  <li class="previous disabled"><a href="#">← Older</a></li>
                  <li class="next"><a href="#">Newer →</a></li>
                </ul>
              </div>
            </div>
            <div class="col-sm-6">
                  <pre>
                    &lt;ul class="pager"&gt;
                      &lt;li&gt;&lt;a href="#"&gt;Previous&lt;/a&gt;&lt;/li&gt;
                      &lt;li&gt;&lt;a href="#"&gt;Next&lt;/a&gt;&lt;/li&gt;
                    &lt;/ul&gt;

                    &lt;ul class="pager"&gt;
                      &lt;li class="previous disabled"&gt;&lt;a href="#"&gt;← Older&lt;/a&gt;&lt;/li&gt;
                      &lt;li class="next"&gt;&lt;a href="#"&gt;Newer →&lt;/a&gt;&lt;/li&gt;
                    &lt;/ul&gt;
                  </pre>
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-success">
        <div class="panel-heading">Labels</div>
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-6">
              <h4>Example heading with <span class="label label-default">Label</span></h4>

              <p>Label colors:
                <span class="label label-default">Default</span>
                <span class="label label-primary">Primary</span>
                <span class="label label-success">Success</span>
                <span class="label label-info">Info</span>
                <span class="label label-warning">Warning</span>
                <span class="label label-danger">Danger</span>
              </p>
            </div>
            <div class="col-sm-6">
                  <pre>
                    &lt;h4&gt;Example heading with &lt;span class="label label-default"&gt;Label&lt;/span&gt;&lt;/h4&gt;

                    &lt;p&gt;Label colors:
                      &lt;span class="label label-default"&gt;Default&lt;/span&gt;
                      &lt;span class="label label-primary"&gt;Primary&lt;/span&gt;
                      &lt;span class="label label-success"&gt;Success&lt;/span&gt;
                      &lt;span class="label label-info"&gt;Info&lt;/span&gt;
                      &lt;span class="label label-warning"&gt;Warning&lt;/span&gt;
                      &lt;span class="label label-danger"&gt;Danger&lt;/span&gt;
                    &lt;/p&gt;
                  </pre>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-success">
        <div class="panel-heading">Badges</div>
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-6">
              <p>
                <a href="#/">Inbox <span class="badge">42</span></a>
              </p>
              <p>Hippo Theme also supplies badges with color since Bootstrap no longer does:<br/>
                <span class="badge badge-primary">42</span>
                <span class="badge badge-info">42</span>
                <span class="badge badge-success">42</span>
                <span class="badge badge-warning">42</span>
                <span class="badge badge-danger">42</span>
              </p>
            </div>
            <div class="col-sm-6">
                  <pre>
                    &lt;a href="#/"&gt;Inbox &lt;span class="badge"&gt;42&lt;/span&gt;&lt;/a&gt;
                    &lt;span class="badge badge-primary"&gt;42&lt;/span&gt;
                    &lt;span class="badge badge-info"&gt;42&lt;/span&gt;
                    &lt;span class="badge badge-success"&gt;42&lt;/span&gt;
                    &lt;span class="badge badge-warning"&gt;42&lt;/span&gt;
                    &lt;span class="badge badge-danger"&gt;42&lt;/span&gt;
                  </pre>
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-success">
        <div class="panel-heading">Thumbnails</div>
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-6">
              <div class="row">
                <div class="col-xs-6 col-md-4">
                  <a href="#" class="thumbnail">
                    <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNDIiIGhlaWdodD0iMjAwIj48cmVjdCB3aWR0aD0iMjQyIiBoZWlnaHQ9IjIwMCIgZmlsbD0iI2VlZSIvPjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjEyMSIgeT0iMTAwIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjE1cHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+MjQyeDIwMDwvdGV4dD48L3N2Zz4=">
                  </a>
                </div>
                <div class="col-xs-6 col-md-4">
                  <a href="#" class="thumbnail">
                    <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNDIiIGhlaWdodD0iMjAwIj48cmVjdCB3aWR0aD0iMjQyIiBoZWlnaHQ9IjIwMCIgZmlsbD0iI2VlZSIvPjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjEyMSIgeT0iMTAwIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjE1cHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+MjQyeDIwMDwvdGV4dD48L3N2Zz4=">
                  </a>
                </div>
                <div class="col-xs-6 col-md-4">
                  <a href="#" class="thumbnail">
                    <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNDIiIGhlaWdodD0iMjAwIj48cmVjdCB3aWR0aD0iMjQyIiBoZWlnaHQ9IjIwMCIgZmlsbD0iI2VlZSIvPjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjEyMSIgeT0iMTAwIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjE1cHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+MjQyeDIwMDwvdGV4dD48L3N2Zz4=">
                  </a>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
                  <pre>
                    &lt;div class="col-xs-6 col-md-4"&gt;
                      &lt;a href="#" class="thumbnail"&gt;
                        &lt;img src=""&gt;
                      &lt;/a&gt;
                    &lt;/div&gt;
                  </pre>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-6">
              <div class="row">
                <div class="col-xs-6 col-md-4">
                  <div class="thumbnail">
                    <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNDIiIGhlaWdodD0iMjAwIj48cmVjdCB3aWR0aD0iMjQyIiBoZWlnaHQ9IjIwMCIgZmlsbD0iI2VlZSIvPjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjEyMSIgeT0iMTAwIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjE1cHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+MjQyeDIwMDwvdGV4dD48L3N2Zz4=">
                    <div class="caption">
                      <h3>Thumbnail label</h3>
                      <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                      <p><a href="#" class="btn btn-primary" role="button">Button</a>
                        <a href="#" class="btn btn-default" role="button">Button</a></p>
                    </div>
                  </div>
                </div>
                <div class="col-xs-6 col-md-4">
                  <div class="thumbnail">
                    <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNDIiIGhlaWdodD0iMjAwIj48cmVjdCB3aWR0aD0iMjQyIiBoZWlnaHQ9IjIwMCIgZmlsbD0iI2VlZSIvPjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjEyMSIgeT0iMTAwIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjE1cHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+MjQyeDIwMDwvdGV4dD48L3N2Zz4=">
                    <div class="caption">
                      <h3>Thumbnail label</h3>
                      <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                      <p><a href="#" class="btn btn-primary" role="button">Button</a>
                        <a href="#" class="btn btn-default" role="button">Button</a></p>
                    </div>
                  </div>
                </div>
                <div class="col-xs-6 col-md-4">
                  <div class="thumbnail">
                    <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNDIiIGhlaWdodD0iMjAwIj48cmVjdCB3aWR0aD0iMjQyIiBoZWlnaHQ9IjIwMCIgZmlsbD0iI2VlZSIvPjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjEyMSIgeT0iMTAwIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjE1cHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+MjQyeDIwMDwvdGV4dD48L3N2Zz4=">
                    <div class="caption">
                      <h3>Thumbnail label</h3>
                      <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                      <p><a href="#" class="btn btn-primary" role="button">Button</a>
                        <a href="#" class="btn btn-default" role="button">Button</a></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
                  <pre>
                    &lt;div class="thumbnail"&gt;
                      &lt;img src=""&gt;
                      &lt;div class="caption"&gt;
                        &lt;h3&gt;Thumbnail label&lt;/h3&gt;
                        &lt;p&gt;Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. &lt;/p&gt;
                        &lt;p&gt;&lt;a href="#" class="btn btn-primary" role="button"&gt;Button&lt;/a&gt; &lt;a href="#" class="btn btn-default" role="button"&gt;Button&lt;/a&gt;&lt;/p&gt;
                      &lt;/div&gt;
                    &lt;/div&gt;
                  </pre>
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-success">
        <div class="panel-heading">Media Objects</div>
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-6">
              <div class="media">
                <a class="pull-left" href="#">
                  <img class="media-object" data-src="holder.js/64x64" alt="64x64" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCI+PHJlY3Qgd2lkdGg9IjY0IiBoZWlnaHQ9IjY0IiBmaWxsPSIjZWVlIi8+PHRleHQgdGV4dC1hbmNob3I9Im1pZGRsZSIgeD0iMzIiIHk9IjMyIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjEycHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9zdmc+" style="width: 64px; height: 64px;">
                </a>
                <div class="media-body">
                  <h4 class="media-heading">Media heading</h4>
                  Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                  <div class="media">
                    <a class="pull-left" href="#">
                      <img class="media-object" data-src="holder.js/64x64" alt="64x64" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCI+PHJlY3Qgd2lkdGg9IjY0IiBoZWlnaHQ9IjY0IiBmaWxsPSIjZWVlIi8+PHRleHQgdGV4dC1hbmNob3I9Im1pZGRsZSIgeD0iMzIiIHk9IjMyIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjEycHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9zdmc+" style="width: 64px; height: 64px;">
                    </a>
                    <div class="media-body">
                      <h4 class="media-heading">Nested media heading</h4>
                      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
                  <pre>
                    &lt;div class="media"&gt;
                      &lt;a class="pull-left" href="#"&gt;
                        &lt;img class="media-object" src=""&gt;
                      &lt;/a&gt;
                      &lt;div class="media-body"&gt;
                        &lt;h4 class="media-heading"&gt;Media heading&lt;/h4&gt;
                        &lt;div class="media"&gt;
                          &lt;a class="pull-left" href="#"&gt;
                            &lt;img class="media-object" src=""&gt;
                          &lt;/a&gt;
                          &lt;div class="media-body"&gt;
                            &lt;h4 class="media-heading"&gt;Nested media heading&lt;/h4&gt;
                          &lt;/div&gt;
                        &lt;/div&gt;
                      &lt;/div&gt;
                    &lt;/div&gt;
                  </pre>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-6">
              <ul class="media-list">
                <li class="media">
                  <a class="pull-left" href="#">
                    <img class="media-object" data-src="holder.js/64x64" alt="64x64" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCI+PHJlY3Qgd2lkdGg9IjY0IiBoZWlnaHQ9IjY0IiBmaWxsPSIjZWVlIi8+PHRleHQgdGV4dC1hbmNob3I9Im1pZGRsZSIgeD0iMzIiIHk9IjMyIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjEycHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9zdmc+" style="width: 64px; height: 64px;">
                  </a>
                  <div class="media-body">
                    <h4 class="media-heading">Media heading</h4>
                    <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
                    <!-- Nested media object -->
                    <div class="media">
                      <a class="pull-left" href="#">
                        <img class="media-object" data-src="holder.js/64x64" alt="64x64" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCI+PHJlY3Qgd2lkdGg9IjY0IiBoZWlnaHQ9IjY0IiBmaWxsPSIjZWVlIi8+PHRleHQgdGV4dC1hbmNob3I9Im1pZGRsZSIgeD0iMzIiIHk9IjMyIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjEycHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9zdmc+" style="width: 64px; height: 64px;">
                      </a>
                      <div class="media-body">
                        <h4 class="media-heading">Nested media heading</h4>
                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
                        <!-- Nested media object -->
                        <div class="media">
                          <a class="pull-left" href="#">
                            <img class="media-object" data-src="holder.js/64x64" alt="64x64" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCI+PHJlY3Qgd2lkdGg9IjY0IiBoZWlnaHQ9IjY0IiBmaWxsPSIjZWVlIi8+PHRleHQgdGV4dC1hbmNob3I9Im1pZGRsZSIgeD0iMzIiIHk9IjMyIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjEycHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9zdmc+" style="width: 64px; height: 64px;">
                          </a>
                          <div class="media-body">
                            <h4 class="media-heading">Nested media heading</h4>
                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Nested media object -->
                    <div class="media">
                      <a class="pull-left" href="#">
                        <img class="media-object" data-src="holder.js/64x64" alt="64x64" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCI+PHJlY3Qgd2lkdGg9IjY0IiBoZWlnaHQ9IjY0IiBmaWxsPSIjZWVlIi8+PHRleHQgdGV4dC1hbmNob3I9Im1pZGRsZSIgeD0iMzIiIHk9IjMyIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjEycHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9zdmc+" style="width: 64px; height: 64px;">
                      </a>
                      <div class="media-body">
                        <h4 class="media-heading">Nested media heading</h4>
                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
                      </div>
                    </div>
                  </div>
                </li>
                <li class="media">
                  <a class="pull-right" href="#">
                    <img class="media-object" data-src="holder.js/64x64" alt="64x64" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCI+PHJlY3Qgd2lkdGg9IjY0IiBoZWlnaHQ9IjY0IiBmaWxsPSIjZWVlIi8+PHRleHQgdGV4dC1hbmNob3I9Im1pZGRsZSIgeD0iMzIiIHk9IjMyIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjEycHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9zdmc+" style="width: 64px; height: 64px;">
                  </a>
                  <div class="media-body">
                    <h4 class="media-heading">Media heading</h4>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
                  </div>
                </li>
              </ul>
            </div>
            <div class="col-sm-6">
                  <pre>
                    &lt;ul class="media-list"&gt;
                      &lt;li class="media"&gt;
                        &lt;a class="pull-left" href="#"&gt;
                          &lt;img class="media-object" src=""&gt;
                        &lt;/a&gt;
                        &lt;div class="media-body"&gt;
                          &lt;h4 class="media-heading"&gt;Media heading&lt;/h4&gt;
                          &lt;p&gt;&lt;/p&gt;
                          &lt;!-- Nested media object --&gt;
                          &lt;div class="media"&gt;
                            &lt;a class="pull-left" href="#"&gt;
                              &lt;img class="media-object" src=""&gt;
                            &lt;/a&gt;
                            &lt;div class="media-body"&gt;
                              &lt;h4 class="media-heading"&gt;Nested media heading&lt;/h4&gt;

                              &lt;!-- Nested media object --&gt;
                              &lt;div class="media"&gt;
                                &lt;a class="pull-left" href="#"&gt;
                                  &lt;img class="media-object" src=""&gt;
                                &lt;/a&gt;
                                &lt;div class="media-body"&gt;
                                  &lt;h4 class="media-heading"&gt;Nested media heading&lt;/h4&gt;

                                &lt;/div&gt;
                              &lt;/div&gt;
                            &lt;/div&gt;
                          &lt;/div&gt;
                          &lt;!-- Nested media object --&gt;
                          &lt;div class="media"&gt;
                            &lt;a class="pull-left" href="#"&gt;
                              &lt;img class="media-object" src=""&gt;
                            &lt;/a&gt;
                            &lt;div class="media-body"&gt;
                              &lt;h4 class="media-heading"&gt;Nested media heading&lt;/h4&gt;

                            &lt;/div&gt;
                          &lt;/div&gt;
                        &lt;/div&gt;
                      &lt;/li&gt;
                      &lt;li class="media"&gt;
                        &lt;a class="pull-right" href="#"&gt;
                          &lt;img class="media-object" src=""&gt;
                        &lt;/a&gt;
                        &lt;div class="media-body"&gt;
                          &lt;h4 class="media-heading"&gt;Media heading&lt;/h4&gt;

                        &lt;/div&gt;
                      &lt;/li&gt;
                    &lt;/ul&gt;
                  </pre>
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-success">
        <div class="panel-heading">List Groups</div>
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-6">
              <ul class="list-group">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Morbi leo risus</li>
                <li class="list-group-item">Porta ac consectetur ac</li>
                <li class="list-group-item">Vestibulum at eros</li>
              </ul>

              <p>For extensive 'combo' options see
                <a href="http://getbootstrap.com/components/#list-group">Bootstrap docs</a>.
              </p>
            </div>
            <div class="col-sm-6">
                  <pre>
                    &lt;ul class="list-group"&gt;
                      &lt;li class="list-group-item"&gt;Cras justo odio&lt;/li&gt;
                      &lt;li class="list-group-item"&gt;Dapibus ac facilisis in&lt;/li&gt;
                      &lt;li class="list-group-item"&gt;Morbi leo risus&lt;/li&gt;
                      &lt;li class="list-group-item"&gt;Porta ac consectetur ac&lt;/li&gt;
                      &lt;li class="list-group-item"&gt;Vestibulum at eros&lt;/li&gt;
                    &lt;/ul&gt;
                  </pre>
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-success">
        <div class="panel-heading">Panels</div>
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-6">
              <div class="panel panel-default">
                <div class="panel-heading">This is a default panel with header</div>
                <div class="panel-body">And a body</div>
                <div class="panel-footer">And a footer!</div>
              </div>

              <div class="panel panel-primary">
                <div class="panel-heading">This is a primary panel with header</div>
                <div class="panel-body">And a body</div>
              </div>

              <div class="panel panel-info">
                <div class="panel-heading">This is a info panel with header</div>
                <div class="panel-body">And a body</div>
              </div>

              <div class="panel panel-success">
                <div class="panel-heading">This is a success panel with header</div>
                <div class="panel-body">And a body</div>
              </div>

              <div class="panel panel-warning">
                <div class="panel-heading">This is a warning panel with header</div>
                <div class="panel-body">And a body</div>
              </div>

              <div class="panel panel-danger">
                <div class="panel-heading">This is a danger panel with header</div>
                <div class="panel-body">And a body</div>
              </div>
            </div>
            <div class="col-sm-6">
                  <pre>
                    &lt;div class="panel panel-default"&gt;
                      &lt;div class="panel-heading"&gt;This is a default panel with header&lt;/div&gt;
                      &lt;div class="panel-body"&gt;And a body&lt;/div&gt;
                      &lt;div class="panel-footer"&gt;And a footer!&lt;/div&gt;
                    &lt;/div&gt;

                    &lt;div class="panel panel-primary"&gt;
                      ...
                    &lt;/div&gt;

                    &lt;div class="panel panel-info"&gt;
                      ...
                    &lt;/div&gt;

                    &lt;div class="panel panel-success"&gt;
                      ...
                    &lt;/div&gt;

                    &lt;div class="panel panel-warning"&gt;
                      ...
                    &lt;/div&gt;

                    &lt;div class="panel panel-danger"&gt;
                      ...
                    &lt;/div&gt;
                  </pre>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
