<!--
  Copyright 2015 Hippo B.V. (http://www.onehippo.com)

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

   http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <h1>Hippo Icons</h1>

      <div class="panel panel-primary">
        <div class="panel-heading">Usage</div>
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-6">
              Each icon has a <em>name</em> and a (optional) <em>size</em>.
            </div>
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-9">
                  <pre>
                    &lt;hippo-icon
                      name="calendar-month"
                      size="xl"&gt;
                    &lt;/hippo-icon&gt;
                  </pre>
                </div>
                <div class="col-sm-3">
                  <hippo-icon name="calendar-month" size="xl"></hippo-icon>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              The default size is 'm'.
            </div>
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-9">
                  <pre>
                    &lt;hippo-icon
                      name="calendar-month"&gt;
                    &lt;/hippo-icon&gt;
                  </pre>
                </div>
                <div class="col-sm-3">
                  <hippo-icon name="calendar-month"></hippo-icon>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              Some icons can get two colors via CSS. The first name element (e.g. 'minus') can be colored with 'color',
              the second (e.g. 'circle') with 'fill'.
            </div>
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-9">
                  <pre>
                     &lt;style&gt;
                       .hi-chevron-down-circle {
                         color: white;
                         fill: red;
                       }
                     &lt;/style&gt;
                     &lt;hippo-icon
                       name="chevron-down-circle"
                       size="xl"&gt;
                     &lt;/hippo-icon&gt;
                  </pre>
                </div>
                <div class="col-sm-3">
                  <style>
                    .example-icon.hi-chevron-down-circle {
                      color: white;
                      fill: red;
                    }
                  </style>
                  <hippo-icon name="chevron-down-circle" size="xl" class="example-icon"></hippo-icon>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              The icon colors can also be specified via CSS classes 'hi-color-[bootstrap color]'. There is also
              'hi-color-white' and 'hi-color-black'. These contextual styles have !important set on them to override any other
              colors/fills applied.
            </div>
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-9">
                  <pre>
                     &lt;hippo-icon
                       name="check-square"
                       size="xl"
                       class="hi-color-success hi-fill-primary"&gt;
                     &lt;/hippo-icon&gt;
                  </pre>
                </div>
                <div class="col-sm-3">
                  <hippo-icon name="check-square" size="xl" class="hi-color-success hi-fill-primary"></hippo-icon>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              The following icons have default styles applied to them because they are frequently used like this:
              <code>.check-circle</code> <code>.minus-circle</code> and <code>.exclamation-triangle</code>
            </div>
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-9">
                  <pre>
                     &lt;hippo-icon
                       name="check-circle"
                       size="xl"&gt;
                     &lt;/hippo-icon&gt;

                     &lt;hippo-icon
                       name="minus-circle"
                       size="xl"&gt;
                     &lt;/hippo-icon&gt;

                     &lt;hippo-icon
                       name="exclamation-triangle"
                       size="xl"&gt;
                     &lt;/hippo-icon&gt;
                  </pre>
                </div>
                <div class="col-sm-3">
                  <hippo-icon name="check-circle" size="xl"></hippo-icon>
                  <br>
                  <hippo-icon name="minus-circle" size="xl"></hippo-icon>
                  <br>
                  <hippo-icon name="exclamation-triangle" size="xl"></hippo-icon>
                  <br>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <p>Icons can be stacked. Subsequent icons are positioned relative to the first one.</p>
              <div>
                <table class="table table-condensed">
                  <tr>
                    <td></td>
                    <td>left</td>
                    <td>center</td>
                    <td>right</td>
                  </tr>
                  <tr>
                    <td>top</td>
                    <td>
                      <div class="hi-stack">
                        <hippo-icon name="file-text" size="l" position="center left"></hippo-icon>
                        <hippo-icon name="minus-circle" size="m" position="top left"></hippo-icon>
                      </div>
                    </td>
                    <td>
                      <div class="hi-stack">
                        <hippo-icon name="file-text" size="l"></hippo-icon>
                        <hippo-icon name="minus-circle" size="m" position="top center"></hippo-icon>
                      </div>
                    </td>
                    <td>
                      <div class="hi-stack">
                        <hippo-icon name="file-text" size="l"></hippo-icon>
                        <hippo-icon name="minus-circle" size="m" position="top right"></hippo-icon>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>center</td>
                    <td>
                      <div class="hi-stack">
                        <hippo-icon name="file-text" size="l"></hippo-icon>
                        <hippo-icon name="minus-circle" size="m" position="center left"></hippo-icon>
                      </div>
                    </td>
                    <td>
                      <div class="hi-stack">
                        <hippo-icon name="file-text" size="l"></hippo-icon>
                        <hippo-icon name="minus-circle" size="m" position="center center"></hippo-icon>
                      </div>
                    </td>
                    <td>
                      <div class="hi-stack">
                        <hippo-icon name="file-text" size="l"></hippo-icon>
                        <hippo-icon name="minus-circle" size="m" position="center right"></hippo-icon>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>bottom</td>
                    <td>
                      <div class="hi-stack">
                        <hippo-icon name="file-text" size="l"></hippo-icon>
                        <hippo-icon name="minus-circle" size="m" position="bottom left"></hippo-icon>
                      </div>
                    </td>
                    <td>
                      <div class="hi-stack">
                        <hippo-icon name="file-text" size="l"></hippo-icon>
                        <hippo-icon name="minus-circle" size="m" position="bottom center"></hippo-icon>
                      </div>
                    </td>
                    <td>
                      <div class="hi-stack">
                        <hippo-icon name="file-text" size="l"></hippo-icon>
                        <hippo-icon name="minus-circle" size="m" position="bottom right"></hippo-icon>
                      </div>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-9">
                  <pre>
                    &lt;div class="hi-stack"&gt;
                      &lt;hippo-icon
                        name="file-text"
                        size="l"&gt;
                      &lt;/hippo-icon&gt;
                      &lt;hippo-icon
                        name="minus-circle"
                        position="top right"&gt;
                      &lt;/hippo-icon&gt;
                    &lt;/div&gt;
                  </pre>
                </div>
                <div class="col-sm-3">
                  <div class="hi-stack">
                    <hippo-icon name="file-text" size="l"></hippo-icon>
                    <hippo-icon name="minus-circle" position="top right"></hippo-icon>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-primary">
        <div class="panel-heading">Icons</div>
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-6">
              <table class="table table-condensed table-striped table-bordered table-valign-middle">
                <thead>
                  <th>name</th>
                  <th class="text-center">s</th>
                  <th class="text-center">m</th>
                  <th class="text-center">l</th>
                  <th class="text-center">xl</th>
                </thead>
                <tbody>
                  <tr>
                    <td>arrow-down</td>
                    <td class="text-center">
                      <hippo-icon name="arrow-down" size="s"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="arrow-down" size="m"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="arrow-down" size="l"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="arrow-down" size="xl"></hippo-icon>
                    </td>
                  </tr>
                  <tr>
                    <td>arrow-up</td>
                    <td class="text-center">
                      <hippo-icon name="arrow-up" size="s"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="arrow-up" size="m"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="arrow-up" size="l"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="arrow-up" size="xl"></hippo-icon>
                    </td>
                  </tr>
                  <tr>
                    <td>arrow-fat-down-circle</td>
                    <td class="text-center">
                      <hippo-icon name="arrow-fat-down-circle" size="s"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="arrow-fat-down-circle" size="m"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="arrow-fat-down-circle" size="l"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="arrow-fat-down-circle" size="xl"></hippo-icon>
                    </td>
                  </tr>
                  <tr>
                    <td>arrow-right-square</td>
                    <td class="text-center">
                      <hippo-icon name="arrow-right-square" size="s"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="arrow-right-square" size="m"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="arrow-right-square" size="l"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="arrow-right-square" size="xl"></hippo-icon>
                    </td>
                  </tr>
                  <tr>
                    <td>bell</td>
                    <td class="text-center">
                      <hippo-icon name="bell" size="s"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="bell" size="m"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="bell" size="l"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="bell" size="xl"></hippo-icon>
                    </td>
                  </tr>
                  <tr>
                    <td>bullet</td>
                    <td class="text-center">
                      <hippo-icon name="bullet" size="s"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="bullet" size="m"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="bullet" size="l"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="bullet" size="xl"></hippo-icon>
                    </td>
                  </tr>
                  <tr>
                    <td>bullhorn</td>
                    <td class="text-center">
                      <hippo-icon name="bullhorn" size="s"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="bullhorn" size="m"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="bullhorn" size="l"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="bullhorn" size="xl"></hippo-icon>
                    </td>
                  </tr>
                  <tr>
                    <td>calendar-day</td>
                    <td class="text-center">
                      <hippo-icon name="calendar-day" size="s"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="calendar-day" size="m"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="calendar-day" size="l"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="calendar-day" size="xl"></hippo-icon>
                    </td>
                  </tr>
                  <tr>
                    <td>calendar-month</td>
                    <td class="text-center">
                      <hippo-icon name="calendar-month" size="s"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="calendar-month" size="m"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="calendar-month" size="l"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="calendar-month" size="xl"></hippo-icon>
                    </td>
                  </tr>
                  <tr>
                    <td>caret-down</td>
                    <td class="text-center">
                      <hippo-icon name="caret-down" size="s"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="caret-down" size="m"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="caret-down" size="l"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="caret-down" size="xl"></hippo-icon>
                    </td>
                  </tr>
                  <tr>
                    <td>caret-right</td>
                    <td class="text-center">
                      <hippo-icon name="caret-right" size="s"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="caret-right" size="m"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="caret-right" size="l"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="caret-right" size="xl"></hippo-icon>
                    </td>
                  </tr>
                  <tr>
                    <td>caret-down-circle</td>
                    <td class="text-center">
                      <hippo-icon name="caret-down-circle" size="s"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="caret-down-circle" size="m"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="caret-down-circle" size="l"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="caret-down-circle" size="xl"></hippo-icon>
                    </td>
                  </tr>
                  <tr>
                  <tr>
                    <td>caret-up-circle</td>
                    <td class="text-center">
                      <hippo-icon name="caret-up-circle" size="s"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="caret-up-circle" size="m"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="caret-up-circle" size="l"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="caret-up-circle" size="xl"></hippo-icon>
                    </td>
                  </tr>
                  <tr>
                  <tr>
                    <td>check-circle</td>
                    <td class="text-center">
                      <hippo-icon name="check-circle" size="s"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="check-circle" size="m"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="check-circle" size="l"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="check-circle" size="xl"></hippo-icon>
                    </td>
                  </tr>
                  <tr>
                    <td>check-square</td>
                    <td class="text-center">
                      <hippo-icon name="check-square" size="s"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="check-square" size="m"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="check-square" size="l"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="check-square" size="xl"></hippo-icon>
                    </td>
                  </tr>
                  <tr>
                    <td>chevron-down-circle</td>
                    <td class="text-center">
                      <hippo-icon name="chevron-down-circle" size="s" class="hi-color-white hi-fill-primary"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="chevron-down-circle" size="m" class="hi-color-white hi-fill-primary"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="chevron-down-circle" size="l" class="hi-color-white hi-fill-primary"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="chevron-down-circle" size="xl" class="hi-color-white hi-fill-primary"></hippo-icon>
                    </td>
                  </tr>
                  <tr>
                    <td>chevron-down</td>
                    <td class="text-center">
                      <hippo-icon name="chevron-down" size="s"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="chevron-down" size="m"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="chevron-down" size="l"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="chevron-down" size="xl"></hippo-icon>
                    </td>
                  </tr>
                  <tr>
                    <td>chevron-left-circle</td>
                    <td class="text-center">
                      <hippo-icon name="chevron-left-circle" size="s" class="hi-color-white hi-fill-primary"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="chevron-left-circle" size="m" class="hi-color-white hi-fill-primary"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="chevron-left-circle" size="l" class="hi-color-white hi-fill-primary"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="chevron-left-circle" size="xl" class="hi-color-white hi-fill-primary"></hippo-icon>
                    </td>
                  </tr>
                  <tr>
                    <td>chevron-left</td>
                    <td class="text-center">
                      <hippo-icon name="chevron-left" size="s"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="chevron-left" size="m"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="chevron-left" size="l"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="chevron-left" size="xl"></hippo-icon>
                    </td>
                  </tr>
                  <tr>
                    <td>chevron-right-circle</td>
                    <td class="text-center">
                      <hippo-icon name="chevron-right-circle" size="s" class="hi-color-white hi-fill-primary"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="chevron-right-circle" size="m" class="hi-color-white hi-fill-primary"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="chevron-right-circle" size="l" class="hi-color-white hi-fill-primary"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="chevron-right-circle" size="xl" class="hi-color-white hi-fill-primary"></hippo-icon>
                    </td>
                  </tr>
                  <tr>
                    <td>chevron-right</td>
                    <td class="text-center">
                      <hippo-icon name="chevron-right" size="s"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="chevron-right" size="m"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="chevron-right" size="l"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="chevron-right" size="xl"></hippo-icon>
                    </td>
                  </tr>
                  <tr>
                    <td>chevron-up-circle</td>
                    <td class="text-center">
                      <hippo-icon name="chevron-up-circle" size="s" class="hi-color-white hi-fill-primary"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="chevron-up-circle" size="m" class="hi-color-white hi-fill-primary"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="chevron-up-circle" size="l" class="hi-color-white hi-fill-primary"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="chevron-up-circle" size="xl" class="hi-color-white hi-fill-primary"></hippo-icon>
                    </td>
                  </tr>
                  <tr>
                    <td>chevron-up</td>
                    <td class="text-center">
                      <hippo-icon name="chevron-up" size="s"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="chevron-up" size="m"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="chevron-up" size="l"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="chevron-up" size="xl"></hippo-icon>
                    </td>
                  </tr>
                  <tr>
                    <td>code</td>
                    <td class="text-center">
                      <hippo-icon name="code" size="s"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="code" size="m"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="code" size="l"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="code" size="xl"></hippo-icon>
                    </td>
                  </tr>
                  <tr>
                    <td>comment</td>
                    <td class="text-center">
                      <hippo-icon name="comment" size="s"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="comment" size="m"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="comment" size="l"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="comment" size="xl"></hippo-icon>
                    </td>
                  </tr>
                  <tr>
                    <td>component</td>
                    <td class="text-center">
                      <hippo-icon name="component" size="s"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="component" size="m"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="component" size="l"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="component" size="xl"></hippo-icon>
                    </td>
                  </tr>
                  <tr>
                    <td>compress</td>
                    <td class="text-center">
                      <hippo-icon name="compress" size="s"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="compress" size="m"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="compress" size="l"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="compress" size="xl"></hippo-icon>
                    </td>
                  </tr>
                  <tr>
                    <td>crop</td>
                    <td class="text-center">
                      <hippo-icon name="crop" size="s"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="crop" size="m"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="crop" size="l"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="crop" size="xl"></hippo-icon>
                    </td>
                  </tr>
                  <tr>
                    <td>empty (can be used as placeholder)</td>
                    <td class="text-center">
                      <hippo-icon name="empty" size="s"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="empty" size="m"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="empty" size="l"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="empty" size="xl"></hippo-icon>
                    </td>
                  </tr>
                  <tr>
                    <td>exclamation-circle</td>
                    <td class="text-center">
                      <hippo-icon name="exclamation-circle" size="s"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="exclamation-circle" size="m"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="exclamation-circle" size="l"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="exclamation-circle" size="xl"></hippo-icon>
                    </td>
                  </tr>
                  <tr>
                    <td>exclamation</td>
                    <td class="text-center">
                      <hippo-icon name="exclamation" size="s"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="exclamation" size="m"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="exclamation" size="l"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="exclamation" size="xl"></hippo-icon>
                    </td>
                  </tr>
                  <tr>
                    <td>exclamation-triangle</td>
                    <td class="text-center">
                      <hippo-icon name="exclamation-triangle" size="s"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="exclamation-triangle" size="m"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="exclamation-triangle" size="l"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="exclamation-triangle" size="xl"></hippo-icon>
                    </td>
                  </tr>
                  <tr>
                    <td>expand</td>
                    <td class="text-center">
                      <hippo-icon name="expand" size="s"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="expand" size="m"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="expand" size="l"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="expand" size="xl"></hippo-icon>
                    </td>
                  </tr>
                  <tr>
                    <td>external-link</td>
                    <td class="text-center">
                      <hippo-icon name="external-link" size="s"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="external-link" size="m"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="external-link" size="l"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="external-link" size="xl"></hippo-icon>
                    </td>
                  </tr>
                  <tr>
                    <td>file-compound</td>
                    <td class="text-center">
                      <hippo-icon name="file-compound" size="s"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="file-compound" size="m"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="file-compound" size="l"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="file-compound" size="xl"></hippo-icon>
                    </td>
                  </tr>
                  <tr>
                    <td>file-image</td>
                    <td class="text-center">
                      <hippo-icon name="file-image" size="s"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="file-image" size="m"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="file-image" size="l"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="file-image" size="xl"></hippo-icon>
                    </td>
                  </tr>
                  <tr>
                    <td>file</td>
                    <td class="text-center">
                      <hippo-icon name="file" size="s"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="file" size="m"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="file" size="l"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="file" size="xl"></hippo-icon>
                    </td>
                  </tr>
                  <tr>
                    <td>file-news</td>
                    <td class="text-center">
                      <hippo-icon name="file-news" size="s"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="file-news" size="m"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="file-news" size="l"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="file-news" size="xl"></hippo-icon>
                    </td>
                  </tr>
                  <tr>
                    <td>file-pencil</td>
                    <td class="text-center">
                      <hippo-icon name="file-pencil" size="s"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="file-pencil" size="m"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="file-pencil" size="l"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="file-pencil" size="xl"></hippo-icon>
                    </td>
                  </tr>
                  <tr>
                    <td>file-text</td>
                    <td class="text-center">
                      <hippo-icon name="file-text" size="s"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="file-text" size="m"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="file-text" size="l"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="file-text" size="xl"></hippo-icon>
                    </td>
                  </tr>
                  <tr>
                    <td>files</td>
                    <td class="text-center">
                      <hippo-icon name="files" size="s"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="files" size="m"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="files" size="l"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="files" size="xl"></hippo-icon>
                    </td>
                  </tr>
                  <tr>
                    <td>flag</td>
                    <td class="text-center">
                      <hippo-icon name="flag" size="s"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="flag" size="m"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="flag" size="l"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="flag" size="xl"></hippo-icon>
                    </td>
                  </tr>
                  <tr>
                    <td>flask</td>
                    <td class="text-center">
                      <hippo-icon name="flask" size="s"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="flask" size="m"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="flask" size="l"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="flask" size="xl"></hippo-icon>
                    </td>
                  </tr>
                  <tr>
                    <td>floppy</td>
                    <td class="text-center">
                      <hippo-icon name="floppy" size="s"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="floppy" size="m"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="floppy" size="l"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="floppy" size="xl"></hippo-icon>
                    </td>
                  </tr>
                  <tr>
                    <td>folder</td>
                    <td class="text-center">
                      <hippo-icon name="folder" size="s"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="folder" size="m"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="folder" size="l"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="folder" size="xl"></hippo-icon>
                    </td>
                  </tr>
                  <tr>
                    <td>folder-open</td>
                    <td class="text-center">
                      <hippo-icon name="folder-open" size="s"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="folder-open" size="m"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="folder-open" size="l"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="folder-open" size="xl"></hippo-icon>
                    </td>
                  </tr>
                  <tr>
                    <td>font</td>
                    <td class="text-center">
                      <hippo-icon name="font" size="s"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="font" size="m"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="font" size="l"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="font" size="xl"></hippo-icon>
                    </td>
                  </tr>
                  <tr>
                    <td>forward</td>
                    <td class="text-center">
                      <hippo-icon name="forward" size="s"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="forward" size="m"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="forward" size="l"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="forward" size="xl"></hippo-icon>
                    </td>
                  </tr>
                  <tr>
                    <td>gear</td>
                    <td class="text-center">
                      <hippo-icon name="gear" size="s"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="gear" size="m"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="gear" size="l"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="gear" size="xl"></hippo-icon>
                    </td>
                  </tr>
                  <tr>
                    <td>globe-abstract</td>
                    <td class="text-center">
                      <hippo-icon name="globe-abstract" size="s"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="globe-abstract" size="m"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="globe-abstract" size="l"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="globe-abstract" size="xl"></hippo-icon>
                    </td>
                  </tr>
                  <tr>
                    <td>globe</td>
                    <td class="text-center">
                      <hippo-icon name="globe" size="s"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="globe" size="m"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="globe" size="l"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="globe" size="xl"></hippo-icon>
                    </td>
                  </tr>
                  <tr>
                    <td>info-circle</td>
                    <td class="text-center">
                      <hippo-icon name="info-circle" size="s"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="info-circle" size="m"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="info-circle" size="l"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="info-circle" size="xl"></hippo-icon>
                    </td>
                  </tr>
                  <tr>
                    <td>info</td>
                    <td class="text-center">
                      <hippo-icon name="info" size="s"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="info" size="m"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="info" size="l"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="info" size="xl"></hippo-icon>
                    </td>
                  </tr>
                  <tr>
                    <td>link</td>
                    <td class="text-center">
                      <hippo-icon name="link" size="s"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="link" size="m"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="link" size="l"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="link" size="xl"></hippo-icon>
                    </td>
                  </tr>
                  <tr>
                    <td>list-ul</td>
                    <td class="text-center">
                      <hippo-icon name="list-ul" size="s"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="list-ul" size="m"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="list-ul" size="l"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="list-ul" size="xl"></hippo-icon>
                    </td>
                  </tr>
                  <tr>
                    <td>locked</td>
                    <td class="text-center">
                      <hippo-icon name="locked" size="s"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="locked" size="m"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="locked" size="l"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="locked" size="xl"></hippo-icon>
                    </td>
                  </tr>
                  <tr>
                    <td>minus-circle</td>
                    <td class="text-center">
                      <hippo-icon name="minus-circle" size="s"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="minus-circle" size="m"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="minus-circle" size="l"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="minus-circle" size="xl"></hippo-icon>
                    </td>
                  </tr>
                  <tr>
                    <td>move-into</td>
                    <td class="text-center">
                      <hippo-icon name="move-into" size="s"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="move-into" size="m"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="move-into" size="l"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="move-into" size="xl"></hippo-icon>
                    </td>
                  </tr>
                  <tr>
                    <td>pencil-square</td>
                    <td class="text-center">
                      <hippo-icon name="pencil-square" size="s"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="pencil-square" size="m"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="pencil-square" size="l"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="pencil-square" size="xl"></hippo-icon>
                    </td>
                  </tr>
                  <tr>
                    <td>pie-chart</td>
                    <td class="text-center">
                      <hippo-icon name="pie-chart" size="s"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="pie-chart" size="m"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="pie-chart" size="l"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="pie-chart" size="xl"></hippo-icon>
                    </td>
                  </tr>
                  <tr>
                    <td>plus</td>
                    <td class="text-center">
                      <hippo-icon name="plus" size="s"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="plus" size="m"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="plus" size="l"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="plus" size="xl"></hippo-icon>
                    </td>
                  </tr>
                  <tr>
                    <td>plus-square</td>
                    <td class="text-center">
                      <hippo-icon name="plus-square" size="s"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="plus-square" size="m"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="plus-square" size="l"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="plus-square" size="xl"></hippo-icon>
                    </td>
                  </tr>
                  <tr>
                    <td>refresh</td>
                    <td class="text-center">
                      <hippo-icon name="refresh" size="s"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="refresh" size="m"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="refresh" size="l"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="refresh" size="xl"></hippo-icon>
                    </td>
                  </tr>
                  <tr>
                    <td>restore</td>
                    <td class="text-center">
                      <hippo-icon name="restore" size="s"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="restore" size="m"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="restore" size="l"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="restore" size="xl"></hippo-icon>
                    </td>
                  </tr>
                  <tr>
                    <td>search</td>
                    <td class="text-center">
                      <hippo-icon name="search" size="s"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="search" size="m"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="search" size="l"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="search" size="xl"></hippo-icon>
                    </td>
                  </tr>
                  <tr>
                    <td>shopping-cart</td>
                    <td class="text-center">
                      <hippo-icon name="shopping-cart" size="s"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="shopping-cart" size="m"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="shopping-cart" size="l"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="shopping-cart" size="xl"></hippo-icon>
                    </td>
                  </tr>
                  <tr>
                    <td>sort</td>
                    <td class="text-center">
                      <hippo-icon name="sort" size="s"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="sort" size="m"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="sort" size="l"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="sort" size="xl"></hippo-icon>
                    </td>
                  </tr>
                  <tr>
                    <td>spinner</td>
                    <td class="text-center">
                      <hippo-icon name="spinner" size="s"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="spinner" size="m"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="spinner" size="l"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="spinner" size="xl"></hippo-icon>
                    </td>
                  </tr>
                  <tr>
                    <td>step-backward</td>
                    <td class="text-center">
                      <hippo-icon name="step-backward" size="s"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="step-backward" size="m"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="step-backward" size="l"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="step-backward" size="xl"></hippo-icon>
                    </td>
                  </tr>
                  <tr>
                    <td>step-forward</td>
                    <td class="text-center">
                      <hippo-icon name="step-forward" size="s"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="step-forward" size="m"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="step-forward" size="l"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="step-forward" size="xl"></hippo-icon>
                    </td>
                  </tr>
                  <tr>
                    <td>thumbnails</td>
                    <td class="text-center">
                      <hippo-icon name="thumbnails" size="s"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="thumbnails" size="m"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="thumbnails" size="l"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="thumbnails" size="xl"></hippo-icon>
                    </td>
                  </tr>
                  <tr>
                    <td>times</td>
                    <td class="text-center">
                      <hippo-icon name="times" size="s"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="times" size="m"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="times" size="l"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="times" size="xl"></hippo-icon>
                    </td>
                  </tr>
                  <tr>
                    <td>times-circle</td>
                    <td class="text-center">
                      <hippo-icon name="times-circle" size="s"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="times-circle" size="m"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="times-circle" size="l"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="times-circle" size="xl"></hippo-icon>
                    </td>
                  </tr>
                  <tr>
                    <td>translate</td>
                    <td class="text-center">
                      <hippo-icon name="translate" size="s"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="translate" size="m"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="translate" size="l"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="translate" size="xl"></hippo-icon>
                    </td>
                  </tr>
                  <tr>
                    <td>trash</td>
                    <td class="text-center">
                      <hippo-icon name="trash" size="s"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="trash" size="m"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="trash" size="l"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="trash" size="xl"></hippo-icon>
                    </td>
                  </tr>
                  <tr>
                    <td>type</td>
                    <td class="text-center">
                      <hippo-icon name="type" size="s"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="type" size="m"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="type" size="l"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="type" size="xl"></hippo-icon>
                    </td>
                  </tr>
                  <tr>
                    <td>unlink</td>
                    <td class="text-center">
                      <hippo-icon name="unlink" size="s"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="unlink" size="m"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="unlink" size="l"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="unlink" size="xl"></hippo-icon>
                    </td>
                  </tr>
                  <tr>
                    <td>unlocked</td>
                    <td class="text-center">
                      <hippo-icon name="unlocked" size="s"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="unlocked" size="m"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="unlocked" size="l"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="unlocked" size="xl"></hippo-icon>
                    </td>
                  </tr>
                  <tr>
                    <td>user-circle</td>
                    <td class="text-center">
                      <hippo-icon name="user-circle" size="s"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="user-circle" size="m"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="user-circle" size="l"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="user-circle" size="xl"></hippo-icon>
                    </td>
                  </tr>
                  <tr>
                    <td>wrench</td>
                    <td class="text-center">
                      <hippo-icon name="wrench" size="s"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="wrench" size="m"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="wrench" size="l"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="wrench" size="xl"></hippo-icon>
                    </td>
                  </tr>
                  <tr>
                    <td>mimetype-audio</td>
                    <td class="text-center">
                      <hippo-icon name="mimetype-audio" size="s"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="mimetype-audio" size="m"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="mimetype-audio" size="l"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="mimetype-audio" size="xl"></hippo-icon>
                    </td>
                  </tr>
                  <tr>
                    <td>mimetype-binary</td>
                    <td class="text-center">
                      <hippo-icon name="mimetype-binary" size="s"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="mimetype-binary" size="m"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="mimetype-binary" size="l"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="mimetype-binary" size="xl"></hippo-icon>
                    </td>
                  </tr>
                  <tr>
                    <td>mimetype-doc</td>
                    <td class="text-center">
                      <hippo-icon name="mimetype-doc" size="s"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="mimetype-doc" size="m"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="mimetype-doc" size="l"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="mimetype-doc" size="xl"></hippo-icon>
                    </td>
                  </tr>
                  <tr>
                    <td>mimetype-docx</td>
                    <td class="text-center">
                      <hippo-icon name="mimetype-docx" size="s" class="hi-fill-white"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="mimetype-docx" size="m" class="hi-fill-white"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="mimetype-docx" size="l" class="hi-fill-white"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="mimetype-docx" size="xl" class="hi-fill-white"></hippo-icon>
                    </td>
                  </tr>
                  <tr>
                    <td>mimetype-flash</td>
                    <td class="text-center">
                      <hippo-icon name="mimetype-flash" size="s"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="mimetype-flash" size="m"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="mimetype-flash" size="l"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="mimetype-flash" size="xl"></hippo-icon>
                    </td>
                  </tr>
                  <tr>
                    <td>mimetype-image</td>
                    <td class="text-center">
                      <hippo-icon name="mimetype-image" size="s"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="mimetype-image" size="m"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="mimetype-image" size="l"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="mimetype-image" size="xl"></hippo-icon>
                    </td>
                  </tr>
                  <tr>
                    <td>mimetype-odp</td>
                    <td class="text-center">
                      <hippo-icon name="mimetype-odp" size="s" class="hi-fill-white"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="mimetype-odp" size="m" class="hi-fill-white"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="mimetype-odp" size="l" class="hi-fill-white"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="mimetype-odp" size="xl" class="hi-fill-white"></hippo-icon>
                    </td>
                  </tr>
                  <tr>
                    <td>mimetype-ods</td>
                    <td class="text-center">
                      <hippo-icon name="mimetype-ods" size="s" class="hi-fill-white"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="mimetype-ods" size="m" class="hi-fill-white"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="mimetype-ods" size="l" class="hi-fill-white"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="mimetype-ods" size="xl" class="hi-fill-white"></hippo-icon>
                    </td>
                  </tr>
                  <tr>
                    <td>mimetype-odt</td>
                    <td class="text-center">
                      <hippo-icon name="mimetype-odt" size="s" class="hi-fill-white"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="mimetype-odt" size="m" class="hi-fill-white"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="mimetype-odt" size="l" class="hi-fill-white"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="mimetype-odt" size="xl" class="hi-fill-white"></hippo-icon>
                    </td>
                  </tr>
                  <tr>
                    <td>mimetype-pdf</td>
                    <td class="text-center">
                      <hippo-icon name="mimetype-pdf" size="s"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="mimetype-pdf" size="m"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="mimetype-pdf" size="l"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="mimetype-pdf" size="xl"></hippo-icon>
                    </td>
                  </tr>
                  <tr>
                    <td>mimetype-ppt</td>
                    <td class="text-center">
                      <hippo-icon name="mimetype-ppt" size="s"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="mimetype-ppt" size="m"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="mimetype-ppt" size="l"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="mimetype-ppt" size="xl"></hippo-icon>
                    </td>
                  </tr>
                  <tr>
                    <td>mimetype-pptx</td>
                    <td class="text-center">
                      <hippo-icon name="mimetype-pptx" size="s" class="hi-fill-white"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="mimetype-pptx" size="m" class="hi-fill-white"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="mimetype-pptx" size="l" class="hi-fill-white"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="mimetype-pptx" size="xl" class="hi-fill-white"></hippo-icon>
                    </td>
                  </tr>
                  <tr>
                    <td>mimetype-rtf</td>
                    <td class="text-center">
                      <hippo-icon name="mimetype-rtf" size="s" class="hi-fill-white"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="mimetype-rtf" size="m" class="hi-fill-white"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="mimetype-rtf" size="l" class="hi-fill-white"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="mimetype-rtf" size="xl" class="hi-fill-white"></hippo-icon>
                    </td>
                  </tr>
                  <tr>
                    <td>mimetype-sxc</td>
                    <td class="text-center">
                      <hippo-icon name="mimetype-sxc" size="s" class="hi-fill-white"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="mimetype-sxc" size="m" class="hi-fill-white"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="mimetype-sxc" size="l" class="hi-fill-white"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="mimetype-sxc" size="xl" class="hi-fill-white"></hippo-icon>
                    </td>
                  </tr>
                  <tr>
                    <td>mimetype-sxi</td>
                    <td class="text-center">
                      <hippo-icon name="mimetype-sxi" size="s" class="hi-fill-white"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="mimetype-sxi" size="m" class="hi-fill-white"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="mimetype-sxi" size="l" class="hi-fill-white"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="mimetype-sxi" size="xl" class="hi-fill-white"></hippo-icon>
                    </td>
                  </tr>
                  <tr>
                    <td>mimetype-sxw</td>
                    <td class="text-center">
                      <hippo-icon name="mimetype-sxw" size="s" class="hi-fill-white"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="mimetype-sxw" size="m" class="hi-fill-white"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="mimetype-sxw" size="l" class="hi-fill-white"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="mimetype-sxw" size="xl" class="hi-fill-white"></hippo-icon>
                    </td>
                  </tr>
                  <tr>
                    <td>mimetype-text</td>
                    <td class="text-center">
                      <hippo-icon name="mimetype-text" size="s"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="mimetype-text" size="m"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="mimetype-text" size="l"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="mimetype-text" size="xl"></hippo-icon>
                    </td>
                  </tr>
                  <tr>
                    <td>mimetype-video</td>
                    <td class="text-center">
                      <hippo-icon name="mimetype-video" size="s" class="hi-fill-white"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="mimetype-video" size="m" class="hi-fill-white"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="mimetype-video" size="l" class="hi-fill-white"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="mimetype-video" size="xl" class="hi-fill-white"></hippo-icon>
                    </td>
                  </tr>
                  <tr>
                    <td>mimetype-xls</td>
                    <td class="text-center">
                      <hippo-icon name="mimetype-xls" size="s"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="mimetype-xls" size="m"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="mimetype-xls" size="l"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="mimetype-xls" size="xl"></hippo-icon>
                    </td>
                  </tr>
                  <tr>
                    <td>mimetype-xlsx</td>
                    <td class="text-center">
                      <hippo-icon name="mimetype-xlsx" size="s" class="hi-fill-white"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="mimetype-xlsx" size="m" class="hi-fill-white"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="mimetype-xlsx" size="l" class="hi-fill-white"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="mimetype-xlsx" size="xl" class="hi-fill-white"></hippo-icon>
                    </td>
                  </tr>
                  <tr>
                    <td>mimetype-zip</td>
                    <td class="text-center">
                      <hippo-icon name="mimetype-zip" size="s" class="hi-fill-white"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="mimetype-zip" size="m" class="hi-fill-white"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="mimetype-zip" size="l" class="hi-fill-white"></hippo-icon>
                    </td>
                    <td class="text-center">
                      <hippo-icon name="mimetype-zip" size="xl" class="hi-fill-white"></hippo-icon>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-sm-6">
              <p>
                See README.md on how to add additional icons to the theme.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
