<!--
  Copyright 2014 Hippo B.V. (http://www.onehippo.com)

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

   http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
  -->

<div class="container-fluid">

  <div class="row">
    <div class="col-sm-8">
      <h1>Introduction</h1>

      <p>
        The hippo theme is a css / javascript library based on the
        <a href="http://www.getbootstrap.com">Bootstrap</a> framework and includes
        <a href="http://www.angularjs.org">AngularJS</a> components.
      </p>

      <p>
        Apart from some
        <a href="#/css-core">base styling</a> of fonts, colors, tables etc it includes 2 grids and 2 types
        of components.
        The <a href="#/grid-systems">grid systems</a> are the standard Bootstrap grid system
        and another grid that uses absolute positioning to provide full height columns as needed in many webapps.
        The components are divided in:
      <ul>
        <li>
          <a href="#/bootstrap-components">Bootstrap components</a> which are the basic Bootstrap components based on Bootstrap HTML CSS and Javascript.
        </li>
        <li>
          <a href="#/angular-components">AngularJS components</a> which are Hippo AngularJS directives.
        </li>
      </ul>

      </p>
      <p>
        Note: for AngularJS components, there is also an
        <a href="../target/docs/#/api">API reference</a> available.
      </p>
    </div>
  </div>
</div>
